[2014-12-25 21:00] sloria opened #1 "[RFC] Pluggable API documentation generator"
Now that smore has many of the lower-level functions for converting marshmallow `Schema` and webargs `Args` to swagger definitions, next step is to implement a system for generating full API docs.

Ideas for initial iteration:
- Based on Swagger 2.0 spec. This will allow us to leverage the latest Swagger-UI
- Pluggable. The documentation generator will work with any web framework, with or without

[2015-03-25 12:33] hello-josh commented on #1
I like the direction this is going in, integrating webargs / marshmallow to handle the minutiae around input and output. One thing that irks me with the current flask-based approaches is that you spend a bunch of time documenting your api but then you still have to manually extract your args from the request (e.g. `args = parser.parse_args()`) and most of them rely on magic dictionaries that match

[2015-03-26 02:32] sloria commented on #1
Thanks for your input @Trii. I agree with your point re: solutions that require you to write your entire Swagger spec manually (in code).

The idea I'm proposing here is that plugins do the work of "writing" your Swagger spec. So if you use no plugins, you write your whole spec. Use Flask? The Flask plugin generates Swagger Paths so you don't have to. Use marshmallow? The marshmallow plugin genera

[2015-03-26 14:11] hello-josh commented on #1
Maybe it is out of the scope of this project/thread but is smore intended to enforce the swagger spec inside around your api as well as generate the documentation for you?

It would be awesome if the plugins would also be able to address the task of extracting arguments from a request (via webargs), unmarshaling them into some application-level objects (via marshmallow), injecting the application

[2015-04-03 18:57] hello-josh opened #4 "APISpec.add_path overwrites paths"
I was toying around with writing a wsgi middleware that used smore while fleshing out some ideas and noticed that `smore.apispec.APISpec.add_path` does a [full replace via `dict.update`](https://github.com/marshmallow-code/smore/blob/dev/smore/apispec/core.py#L106) when adding a new path that matches an existing path. It ends up being a last one wins situation.

What do you think about storing the

[2015-04-10 04:37] sloria commented on #4
+1. I think that is a fine solution.

[2015-04-11 20:49] #4 closed, assigned to nobody

[2015-04-14 22:32] jmcarp opened #8 "Integration tests with swagger-tools"
I caught a few minor issues (see #6, #7) running output through the validator in swagger-tools:

[code]

It could be helpful to add integration tests using swagger-tools to catch subtle or poorly documented issues like this. I'm down to write this if you think it would be worthwhile @sloria.

[2015-04-14 23:02] sloria commented on #8
Yes, I think this is a very good idea.

[2015-04-16 03:19] jmcarp commented on #8
Done in #9.

[2015-04-16 03:19] #8 closed, assigned to nobody

[2015-05-08 11:23] hartror opened #12 "Marshmallow and webargs working together"
These two libraries have a significant amount of overlap, I'd say they're almost competing if it wasn't that @sloria is responsible for both of them.

This is a common pattern for us:

[code]

While this isn't onerous to setup there are a couple of features that would be nice along with being an "officially blessed" pattern (and not just something in our own libraries/projects).

_A json body loca

[2015-05-12 02:47] sloria commented on #12
Thanks @hartror for the feedback.

Indeed they do, though each has its own strengths (e.g. webargs knows how to parse requests; marshmallow's validation is more feature-rich). As you are suggesting, a thin integration layer could take advantage of these individual strengths.

I like the idea of being able define request arguments from a marshmallow schema, but I'm not sure that passing the schema

[2015-05-12 05:20] DamianHeard commented on #12
@sloria thanks for considering this request and thanks @hartror for purposing it.

@sloria I'm worried that the API you've proposed would make it difficult to use `Schemas` in conjunction with `Args`. For example, using GET params in-conjunction with a `Schema` seems like a reasonable thing to do.

I'm not sure exactly how this might work. Perhaps something along these lines?

[code]

I admit this

[2015-05-12 11:04] hartror commented on #12
@sloria I really like the terseness of just inserting the schema class directly. Would something like this also be reasonable in your eyes?

[code]

@DamianHeard I agree, personally I'd like to mix query params coming in through webargs and json bodies through marshmallow.

[2015-06-01 01:59] sloria commented on #12
I agree that it would be useful to mix args from "vanilla"  webargs and those parsed from a marshmallow schema. This shouldn't be a problem, since webargs inserts the parsed arguments dictionaries positionally.

I also think using marshmallow's pre- and post-processing API during parsing (as @hartror suggests) makes sense.

[2015-06-05 13:04] hartror commented on #12
Okay sounds good! _rolls up sleeves_

First of all where should this belong? I am thinking this belongs in its own repo, something like `webargs-marshmallow`, webargs is nicely extensible so I don't think it needs to be the same library. Of course that does risk maintenance issues especially where the framework specific parsers are concerned but that is manageable with careful testing.

Implementa

[2015-06-06 02:46] hartror commented on #12
Okay have the [repo](https://github.com/hartror/webargs-marshmallow) up and running including a sample of the full proposed usage:

[code]

[2015-06-06 03:24] sloria commented on #12
Excellent. Looking good so far! Will look at it more in-depth when I get a chance.

[2015-06-06 07:54] hartror commented on #12
I have a functionality spike in the repo now. Had a false start when I tried to use composition to build the schema parser, wrapping a provided webargs parser. The intention was for the schema parser to define the `use_schema_args` decorator, however this required access to functionality for accessing the request object and inserting the parsed object into the arguments. Most of the framework spec

[2015-08-30 21:50] sloria commented on #12
Closing this for now. Further discussion should happen at https://github.com/hartror/webargs-marshmallow

[2015-08-30 21:50] #12 closed, assigned to nobody

[2015-09-20 22:22] sloria commented on #12
Just a heads up: I am currently working on adding first-class support for marshmallow in webargs. See https://github.com/sloria/webargs/issues/61.

[2015-09-21 23:59] DamianHeard commented on #12
Awesome @sloria. Thanks for the update!

[2015-09-29 04:28] jmcarp opened #28 "Support `enum` property of JSON Schema"
Now that webargs is using marshmallow and has access to the `OneOf` and `ContainsOnly` validators, smore can populate the `enum` property of JSON Schema fields. If this seems reasonable, I'm down to send a patch @sloria.

[2015-09-29 05:01] sloria commented on #28
+1; good idea.

[2015-10-01 04:03] #28 closed, assigned to nobody

[2015-10-01 04:22] sloria opened #30 "Rename and release as "apispec""
For all intents and purposes, this project's sole focus is the pluggable API doc generation proposed in #1.

I propose renaming this repo/package to `apispec`.

Note: this code still remains experimental--the new name is only to reflect the primary goals of this project.

[2015-10-01 04:22] sloria commented on #30
@jmcarp what say you?

[2015-10-01 04:35] jmcarp commented on #30
I like this. Sounds more professional. Just don't take smore off the PyPI until I update all the stuff that depends on it!

[2015-10-01 04:40] sloria commented on #30
Yep. `smore` will stay on PyPIi. Next release will just be apispec 0.3.0.

[2015-10-01 11:56] hello-josh commented on #30
Smore is such a great name but apispec is a-ok!

[2015-10-02 03:12] sloria commented on #1
@Trii Sorry for the delayed response. I can't promise that this project will do complete validation against the Swagger spec the development stage. For example, if you pass incorrect arguments to one of the `APISpec` methods, it may not always raise an exception.

That said, the test suite does [validate the output](https://github.com/marshmallow-code/smore/blob/6ac181b121b6dfdab22746aab8b5254f4d7

[2015-10-02 05:56] sloria commented on #30
Renamed the repo and package. Just need to get the docs working once rtfd/readthedocs.org#1723 is resolved, then publish to PyPI.

[2015-10-03 05:12] sloria commented on #30
Done!

[2015-10-03 05:12] #30 closed, assigned to nobody

[2015-10-10 21:30] alapshin opened #31 "Question about fields.Nested and APISpec.definition() call order"
What is correct way to handle nested schemas with apispec? For example I have something like that

[code]

Generated definition for Foo includes Bar as nested object instead of referencing existing definition. Changing order of schemas in spec helps

[code]

but what about situations with circular dependencies when FooSchema nests BarSchema and vice versa?

[2015-10-15 16:42] jmcarp opened #32 "Default values for webargs"
Now that webargs is using marshmallow internally, we specify default argument values using the `missing` parameter:

[code]

But apispec doesn't check the `missing` key when introspective parameter defaults--it only checks `default`. To get the correct swagger default, we have to specify both parameters:

[code]

Which isn't ideal.

Since we're using the same logic to introspect fields and schemas

[2015-10-16 02:45] sloria commented on #32
I think the proposed approach--specifying whether we are dumping/loading--makes sense.

[2015-10-24 05:09] jmcarp opened #35 "Should marshmallow helpers respect `only`, `exclude`?"
When introspecting `Nested` fields, we don't check for the `only` or `exclude` attributes. For example:

[code]

If we call `schema2jsonschema(BobSchema)`, the nested `foo` will include `bar` and `baz` fields, even though `baz` will never be included in this case. Which isn't necessarily a problem, unless `baz` is required:

[code]

In this case, users of apispec will likely return JSON that would

[2015-11-10 13:57] jta commented on #35
I was bitten by this recently. I foolishly assumed that the helpers would respect `exclude` as I use it to break cycles, but in hindsight I'm not sure it should. From the perspective of Swagger, removing a field changes the model. I suspect the only sane way of resolving your example would be:

[code]

[2015-11-23 00:47] frol opened #37 "Apispec doesn't play nicely with the schemas where fields are generated/modified on the fly"
The following use-case doesn't work for me:

[code]

The output jsonschema is:

[code]

I expect to see:

[code]

Here are the relevant source code lines:

Only a Nested schema **class** (not instance) will be analyzed for the Nested fields:
https://github.com/marshmallow-code/apispec/blob/dev/apispec/ext/marshmallow/swagger.py#L105

Only fields that are declared on class definition will be analyz

[2015-11-27 06:12] #37 closed, assigned to nobody

[2015-12-04 04:37] sloria commented on #1
Closing for now. Any other design feedback should be opened as new issues.

[2015-12-04 04:37] #1 closed, assigned to nobody

[2015-12-19 01:10] itajaja opened #41 "circular dependency triggers stackoverflow"
The following schemas:

[code]

Causes an infinite recursion when trying to resolve the two schemas.

I am trying to debug the problem, but I am lost right  now. Is someone able to point me to the right direction?

[2015-12-19 15:40] sloria commented on #41
I can't seem to reproduce the error.

[code]

I do not get an error with the above code.

@itajaja Could you please provides steps to reproduce the bug?

[2015-12-20 16:37] itajaja commented on #41
The codebase the error occured is much bigger, I'll try to strip down a minimum reproducible example

[2015-12-20 17:21] itajaja commented on #41
Hey @sloria here is a reproducible example:

[code]

now, reorganizing the `definition` calls like this:

[code]

will actually work. The reason I cannot organize my calls, is because I am trying to build an automated tool that generates the schema definitions programmatically by inspecting all the `Schema` classes of a module.

now that I built this example though, even the PR I opened doesn't se

[2015-12-21 23:12] itajaja commented on #41
@sloria I created a new PR. the only solution I found to not break the API is to delay the execution of `field2property` until all the schemas are declared

[2015-12-22 06:04] itajaja commented on #31
I think PR #44 solves the problem. given the schema you provided, the output will be the following, regardless of the order:

[code]

(on the assumption that you meant `schema` instead of `spec` in the spec definition argument)

[2015-12-31 04:47] #41 closed, assigned to nobody

[2016-01-27 13:44] fingon opened #46 "discriminator support?"
Swagger 2.0 has 'discriminator' field, which is essentially used to choose the schema to use based on contents of the field. At least apispec 0.6 does not have this (nor does actually marshmallow itself, +- marshmallow-polyfield which is similar but helps choose type of field instead of the whole object's schema).

Any plans on this?

[2016-02-01 15:53] hello-josh opened #49 "How should I add an existing Path instance to an APISpec instance"
I tried to do something like:

[code]

And I received the following error (as I should have)

[code]

Is there an easy way to add an existing `Path` object or do I need to duplicate the logic of `self._paths.setdefault(path.path, path).update(path)`?

If this functionality seems worthwhile, I can submit a PR to update `APISpec.add_path` to accept `Path` objects.

[2016-02-06 16:06] sloria commented on #49
@Trii Good catch. I would certainly accept a PR to pass a `Path` to `add_path`.

[2016-02-06 16:35] hello-josh commented on #49
Ok! I'll put one together on Monday.
On Sat, Feb 6, 2016 at 11:06 AM Steven Loria notifications@github.com
wrote:

[2016-02-06 17:07] sloria commented on #49
Awesome. Thanks!

[2016-02-11 13:39] #49 closed, assigned to nobody

[2016-02-11 18:13] hello-josh opened #51 "Should I handle basePath removal a little better?"
#50 works the way I had hoped but I felt like it cluttered up `APISpec.add_path` with a bunch of conditional logic. What do you think about using a non-data descriptor for `APISpec._paths` and a `dict` subclass that strips `basePath` from any keys set?

https://github.com/marshmallow-code/apispec/compare/dev...Trii:path-as-descriptor

[2016-02-22 14:20] martinlatrille opened #54 "Bad serialization with load_operations_from_docstring"
Hello,

I noticed a problem while using the `apispec.utils.load_operations_from_docstring` method.

While trying to parse the following docstring:

[code]

Using this code:

[code]

The `200` response was serialized as an `int`, and not as a `string`. As a result, the JSON was not valid.
I did a little workaround, a path_helper you can find below. Maybe this should be included as a default path_he

[2016-02-22 14:25] hello-josh commented on #54
I noticed something similar a couple of weeks ago so I ended up listing the status codes in single quotes in my docstrings.

[2016-02-22 14:31] martinlatrille commented on #54
Well, you can use this path_helper now :wink:

[2016-02-23 11:13] martinlatrille commented on #54
Update: sometimes, I'm a retard. "json.dumps()" totally fix the int-key serialization issue.
Though, the fix for the schemas' ref is useful !

[2016-02-25 15:53] whoiswes opened #55 "Self-referential nested fields not parsed correctly"
Apologies if I'm missing something obvious here as I'm still figuring out Marshmallow and APISpec.

When we have a Model with a self-referential relationship, apispec is not able to parse the child relationships successfully.  Here's an example (SQLAlchemy, Marshmallow-SQLAlchemy, APISpec, and Flask)

Models:

[code]

Schema:

[code]

APISpec to_dict output (note the Entity.children object referen

[2016-03-04 13:02] #54 closed, assigned to nobody

[2016-03-06 14:33] sloria commented on #51
I'm leaning towards "KISS" on this issue, and adding two custom data structures feels a bit over-engineered for this simple use case. Let's keep it as is for now. Thanks for putting so much thought into this.

[2016-03-06 14:33] #51 closed, assigned to nobody

[2016-03-06 14:33] sloria commented on #46
There are no near-term plans for this, but I would certainly review a PR for it.

[2016-03-06 14:36] #31 closed, assigned to nobody

[2016-03-06 18:26] hello-josh commented on #51
Sounds good to me too. I'll keep the branch around in case it warrants it at a later date.

[2016-03-09 07:59] etataurov opened #58 "Marshmallow 1.2 is not supported"
Doc states that
`Requires marshmallow>=1.2.`
but
I've got an error with marshmallow==1.2.6

[code]

because _dump_only_ was added in 2.0 https://marshmallow.readthedocs.org/en/latest/changelog.html

I guess it is probably OK to drop 1.2 support, but docs should be fixed then.
Thanks

[2016-03-14 00:16] #58 closed, assigned to nobody

[2016-03-14 00:17] sloria commented on #58
Good catch. apispec supports marshmallow>=2.0.

[2016-03-16 09:25] martinlatrille opened #60 "Schema Refs"
Today, to add a ref to a Schema from a Schema's nested field, we must add a `ref` parameter, as such:

[code]

To me, it looks like we're repeating `Category` (which is gettable by removing `Schema` from the `CategorySchema` name).

I think we should do it the other way around: automatically add a ref such as `#/definitions/Category` for any `fields.Nested(CategorySchema)`, unless `use_refs=false`

[2016-03-25 02:06] sloria commented on #60
Inferring `ref` from the nested field name feels is probably more magic than it's worth. Not all users will follow the "<Something>Schema" convention. Explicit is better than implicit in this case.

[2016-03-25 02:06] #60 closed, assigned to nobody

[2016-03-30 21:33] whoiswes commented on #55
FYI, by accident I got this working.  If you change 'self' to the name of the schema you're self-referencing, APISpec doesn't blow up.

Like so:

[code]

Not sure if this would be expected or desired behavior so leaving this open for now.

[2016-04-06 15:14] whoiswes commented on #35
+1 for fixing/working-around this in a sane and compatible way.

[2016-04-08 18:22] sloria commented on #55
Thanks for the update, @whoiswes . I'm glad you found a workaround, but this still looks to be a bug--passing `'self'` should not break the code.

I would be open to a PR for this.

[2016-04-10 15:16] #55 closed, assigned to nobody

[2016-04-10 15:17] sloria commented on #55
This bug is now fixed on `dev`.

[2016-04-13 02:51] sloria opened #66 "[marshmallow plugin] Inspect validators"
Many of marshmallow's validators can be inspected to provide additional data when constructing OpenAPI entities.

[code]

[2016-04-27 17:42] deckar01 opened #68 "Flask extension does not support blueprints"
I have organized my views with Flask blueprints, but am unable to document them in the view file, because it is not executed in the application context.

[code]

[code]

Is there a way to keep the spec declarations with the blueprint? (It seems like there might not be.)

Do you think it would be useful to add the ability to add all the views from a blueprint at once?

I noticed that the flask exte

[2016-04-27 19:43] deckar01 commented on #68
After centralizing the specs into the app declaration I have to explicitly provide an app context.
http://stackoverflow.com/questions/31444036/runtimeerror-working-outside-of-application-context

[2016-04-27 23:51] deckar01 opened #69 "Flask extension does not support application root"
The flask extension only outputs the route path, but `flask.url_for()` takes into consideration that the path should be prefixed with the configured `APPLICATION_ROOT` path. [apispec/ext/flask.py#L58](https://github.com/marshmallow-code/apispec/blob/1076180/apispec/ext/flask.py#L58)
- http://flask.pocoo.org/docs/0.10/config/#builtin-configuration-values
- https://github.com/pallets/flask/blob/9f1b

[2016-04-28 03:36] sloria commented on #69
Thanks for reporting.

I would welcome a PR for this.

[2016-04-28 14:30] deckar01 commented on #69
Looking into the implementation. :eyeglasses:

I would like to lean on the `url_adapter` interface as much as possible to avoid replicating the internal implementation of flask and insulate the extension against future changes.

[2016-04-28 14:45] hello-josh commented on #68
@deckar01 I'd also wager that putting your `spec.add_path` setup in your blueprint directly could cause unexpected consequences if you ever decided to register a blueprint to your application multiple times.

[2016-04-28 15:33] deckar01 commented on #68
I ended up moving my spec declarations out of the execution path, so that the specs depend on the schema and views, but breaking changes to the specs do not affect the functionality of the app.

I break my specs up into files to mirror the schema/view structure and have a central spec instance that registers them within the flask app context. There is definitely some boiler plate that can be reduc

[2016-04-29 00:01] #69 closed, assigned to nobody

[2016-04-29 15:44] deckar01 commented on #68
@Trii @sloria How would you feel about exposing an interface for adding multiple paths at once?

I image the interface would look something like:

[code]

This would avoid a lot of boilerplate code if the paths are already available as a list.

This would allow the flask extension to support adding all the paths in a blueprint at once (or even all the paths in an app).

[2016-04-29 21:24] deckar01 opened #71 "Marshmallow extensions does not support plural schema instances"
I expected

[code]

to produce

[code]

but got

[code]

The issue is that [apispec/ext/marshmallow/__init__.py#L77](https://github.com/marshmallow-code/apispec/blob/157682f/apispec/ext/marshmallow/__init__.py#L77) only checks if `many` is set to true on the class, but the more common marshmallow pattern is to set `many=True` when constructing schema instances. This also fails for the reverse case

[2016-04-30 20:38] sloria commented on #68
@deckar01 If we were to add `add_paths`, users might expect `add_parameters`, `definitions`, etc. to exist. What would add_paths provide that `add_path` within a `for` loop wouldn't provide?

[2016-04-30 21:26] deckar01 commented on #68
The ability for extensions to abstract registering collections of paths. I admit that a list of paths in userspace can easily be iterated, but navigating the internal structure of the path collections in a framework like flask is non-obvious.

In my use case 100% of my API needs to be documented. Every single view needing a duplicate spec declaration in a separate file creates a lot of opportuniti

[2016-05-01 01:56] deckar01 commented on #71
Actually, after looking at the implementation, checking the `many` attribute is perfectly valid for nested schemas, so all that needs to be fixed is properly resolving the `items` attribute in the schema array pattern.

[2016-05-01 23:02] sloria commented on #68
Can you please clarify how `add_paths` would address this problem?

[2016-05-02 00:58] deckar01 commented on #68
A flask app with blueprints starts out looking something like:

[code]

[Blueprints](http://flask.pocoo.org/docs/0.10/blueprints/) are not defined in the flask application context, so the paths must be register to apispec in the flask app context:

[code]

This defeats the benefit of blueprints encapsulating view specific details away from the core application logic.

My current alternative is to

[2016-05-02 01:54] sloria commented on #68
Ah, I see; the benefit would be that plugins could implement a paths_helper that would abstract extracting paths. Thanks for the clarification.

An `add_paths` method is within scope of `apispec`. The question is whether is worth the increased API surface area. You presented a valid use case, and I would gladly review and merge a PR for it.

[2016-05-02 12:31] #71 closed, assigned to nobody

[2016-05-02 22:34] deckar01 commented on #66
There are 3 objects in the OpenAPI spec that support validation fields:
- [Parameter](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#parameter-object)
- [Items](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#items-object)
- [Header](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#header-object)

The header object only sup

[2016-05-13 21:53] incognick opened #74 "Marshmallow schema partial=True"
When I have a schema with required fields but then use partial=True on a PUT route for instance, swagger spec still shows they are all required.  Is this a bug or should I be doing something different?

Thanks!

[2016-05-15 02:01] sloria commented on #74
Seems like a bug to me. PRs welcome! =)

[2016-05-15 17:38] #74 closed, assigned to nobody

[2016-05-15 17:38] sloria commented on #74
This is now fixed on `dev`.

[2016-05-18 07:04] shaicantor opened #75 "schema2parameters - body + header"
Hey,

I have a schema and the default_in = body, but one of the fields has a headers location.
schema2parameters inserts the header field inside the body instead of returning one body param and one header param.

What do I do?

[code]

[code]

[2016-05-20 15:37] incognick opened #76 "Getting Assert when using many=True"
Getting this assert when I use a Marshmallow schema with many=True

apispec/ext/marshmallow/swagger.py ~230.

I am using the following decorator:
`@use_kwargs(MySchema(many=True), locations=('json',))`

[2016-05-20 18:43] incognick commented on #76
Actually I think the problem is in another library that makes use of api spec - Flask-Apispec.  It's passing json location into swagger.schema2parameters rather than converting it to body first.

[2016-05-20 18:43] #76 closed, assigned to nobody

[2016-05-21 18:15] sloria opened #77 "Separate plugins into separate packages?"
It might be beneficial from a maintenance perspective to have the bundled plugins, e.g. apispec.ext.marshmallow and apispec.ext.flask, exist as separate packages. That would allow them to have their own release cycles independent of apispec core, which is currently pretty stable.

Feedback welcome.

[2016-06-06 17:00] deckar01 opened #78 "Core path does not support swagger basePath"
Related to #69.

Flask allows configuring the `APPLICATION_ROOT`, which provides the base path for the routes. #70 fixed this issue so that the flask extension reports the fully qualified path.

When the specs are dumped as swagger specs using `to_dict()`, the full path is shown on every route, even though the swagger specification supports the [`basePath`](https://github.com/OAI/OpenAPI-Specifica

[2016-06-06 19:10] deckar01 commented on #78
After looking into the implementation, I realized that the `APISpec` constructor allows supplying additional options that are applied directly to the specs in `to_dict()`.

A work around for #69 would have been to pass `basePath` to the `APISpec` constructor, but after #70 there is no way to get back to relative paths on the individual routes.

If anyone was using flask configured with `APPLICATIO

[2016-06-07 13:16] deckar01 commented on #78
Upon further investigation, `APISpec.add_path()` is supposed to [strip off the `basePath`](https://github.com/marshmallow-code/apispec/blob/dev/apispec/core.py#L160) from the path if it matches, but since this logic is [applied _before_ the extensions](https://github.com/marshmallow-code/apispec/blob/dev/apispec/core.py#L169), the path instance returned by the flask extension never has its `basePa

[2016-06-22 19:52] itajaja opened #79 "dump_only should add readOnly flag"
I think the semantic of `dump_only` matches the `readOnly` flag on the swagger spec. Shouldn't dump_only set that flag to true on the field?

http://swagger.io/specification/

[2016-06-27 01:10] sloria commented on #79
Yes, I think it makes sense. I would accept a PR for this.

[2016-06-27 04:50] itajaja commented on #79
I can do it :)

[2016-06-27 12:11] sloria commented on #79
Thanks!

[2016-06-30 23:55] incognick commented on #79
When dump_only is True, shouldn't this field be omitted completely from the spec as an parameter argument?

[2016-07-01 03:35] incognick opened #82 "dump_only is ignored in nested schemas for parameters"
Given the following:

[code]

The parameter spec is generated:

[code]

The Parent "id" is omitted but the Child "id" remains.

Will submit a PR on this.

[2016-07-03 15:08] #79 closed, assigned to nobody

[2016-07-03 16:02] #82 closed, assigned to nobody

[2016-07-19 03:11] sloria opened #84 "dump_only attributes passed in Meta options are not marked as readOnly"
Reported by @lafrech in https://github.com/marshmallow-code/apispec/pull/81#issuecomment-233417809:

---

I noticed this only adds readOnly if the field was provided dump_only attribute directly. If the field appears in the dump_only list in Meta, readOnly is not added.

Is this known/intended?

More precisely, it "does not work" if spec.definition is passed a marshmallow.schema.SchemaMeta but it

[2016-07-19 16:52] lafrech opened #85 "Support for MethodView"
I'm using Flask's [`MethodView`s](http://flask.pocoo.org/docs/0.11/views/#method-based-dispatching) for an API.

Basically, the idea is to have one class per endpoint and one class method for each HTTP method. The method name is the HTTP method, lowercase.

[code]

AFAIU, there is currently no support for Flask's `MethodView` or Flask's `View`, only functions are supported. Is this correct?

I thi

[2016-07-19 17:30] lafrech commented on #85
[flask-apispec](http://flask-apispec.readthedocs.io/en/latest/usage.html) uses apispec and provides support for `Blueprint` (which @deckar01 would like to add to apispec: https://github.com/marshmallow-code/apispec/issues/68), `MethodView`, along with nice decorators that allows to specify a `Schema` to dump the data with, automatically registering the `Schema` in the spec, and the same automatic

[2016-07-19 18:22] deckar01 commented on #85
It looks pretty good so far. (I dropped a comment on the commit https://github.com/marshmallow-code/apispec/commit/09ca9a30e88bdf8693c85f8cc284a9d89e1e2117#commitcomment-18304112)

[2016-07-19 20:24] lafrech commented on #85
Let's have the discussion here rather than in "line notes".

@deckar01:

I guess you're right.

Thanks for taking the time to investigate and sorry if my point was unclear or uninformed.

As I wrote, there is no total blocker. One can use a`MethodView` if the docstrings are all gathered at the top of the view. (Or maybe by adding a bit of obscure magic in the application to concatenate all docstri

[2016-07-19 21:43] deckar01 commented on #85
@lafrench Good to hear it isn't broken. You should be able to keep the docstrings on the individual class methods and register them individually. It seems like it might be more important to keep the docs with their respective methods at the expense of a little bit of duplicated registration logic.

[code]

I imagine you could add a helper utility until `apispec` supports registering extension spec

[2016-07-19 21:52] deckar01 commented on #68
I am going to take a look at implementing this since @lafrech has provided another example of view collections in flask.

[2016-07-19 21:59] lafrech commented on #85
Nice. This is totally satisfying to me.

I'm closing this as my patch is useless and the question is answered. The "view collection" feature can be discussed in your [blueprint issue](https://github.com/marshmallow-code/apispec/issues/68).

Thanks again, @deckar01.

[2016-07-19 21:59] #85 closed, assigned to nobody

[2016-07-21 20:36] lafrech commented on #68
@deckar01:

Notice a blueprint can be registered with a custom `url_prefix`:

[code]

So you may need to do:

[2016-08-26 22:35] lafrech opened #88 "marshmallow/swagger.py - custom field mapping"
Hi.

Assuming a model uses custom Marshmallow fields, those do not appear in `FIELD_MAPPING` and therefore are not documented properly: default (type, format) is ('string', None).

If `_get_json_type_for_field` used `isinstance` rather than `type`, fields inheriting from Marshmallow fields would at least be treated like their parent, but this wouldn't be totally satisfying.

OpenAPI spec allows cu

[2016-09-13 16:43] lafrech commented on #88
Well, since nothing prevents me from importing `FIELD_MAPPING` and modifying it in my own application, this question is not that relevant. I guess I was making things too complex...

[code]

[2016-09-14 08:00] lafrech commented on #88
One last thing, though: is it safe to import and modify `FIELD_MAPPING`? I mean is it considered part of the API or may it be renamed/removed in a future version?

I believe the use case is valid, so it would make sense to consider this object part of the API, and consider its modification/removal as a breaking change (or alternatively provide a function in the API to wrap it).

More generally, is

[2016-09-16 15:21] ishankhare07 opened #91 "How to integrate with swagger ui"
I would like to understand how does this work with swagger. I generated the `swagger.json` by writing output of `spec.to_dict()` and then opening the `swagger.json` file from `swagger ui`. There are no errors reported and neither and documentation generated.

[2016-09-16 20:30] lafrech commented on #91
You may want to share your swagger.json here so that people can figure out which part is missing.

You may also have a look at the swagger.json file from the petstore example ([UI](http://petstore.swagger.io/), [json file](http://petstore.swagger.io/v2/swagger.json) for an example of a correct spec file.

[2016-09-18 22:08] ishankhare07 commented on #91
@lafrech after verify my swagger.json at http://editor.swagger.io/#/ I get and error `Definition is not used: #/definitions/Message Schema`

[2016-10-10 13:36] martinlatrille commented on #35
+1

For now I'm using `meta` to store only/exclude, and use them in a doc-generating project to shorten the `example outputs` of my endpoints.

[code]

A first fix could be to include those in the `meta` by default, to just make it available for client-side usage (without needing a duplicate declaration in the field's declaration).

[code]

As said by jmcarp, the OpenAPI spec doesn't allow such th

[2016-10-23 15:50] sloria commented on #35
Thanks for posting your workaround @martinlatrille . I am hesitant to add code that adds arbitrary data to `meta`, especially when it's not part of the spec.

[2016-10-31 09:34] khorolets opened #95 "fields2jsonschema warning about Shema Object"
Hi! Can you help me to understand the warning I'm getting.

[code]

My Schema

[code]

And here is the sample of code where I'm getting the warning.

[code]

The result of function is as expected. But if I understand the warning right my fields declared in `Meta.fields` should be ignored.

Can you help me to understand what is this warning about?

/cc @frol

[2016-11-01 03:28] sloria commented on #95
Ah, you can safely ignore the warning. It is meant to warn that implicitly-created fields (see https://marshmallow.readthedocs.io/en/latest/quickstart.html#refactoring-implicit-field-creation) set in `Meta.fields` will not be translated into swagger.

`ModelSchema` works a bit differently; marshmallow fields get generated based on `Meta.model` by `ModelSchema's` metaclass _upon class declaration_.

[2016-11-01 06:41] frol commented on #95
@sloria What is the rationale behind the decision of ignoring those implicitly-created fields?

[2016-11-01 12:16] sloria commented on #95
@frol When using `Meta.fields` with vanilla marshmallow, the fields are created implicitly upon invoking `dump` or `load`, at which point marshmallow infers which field types to use based upon the objects being dumped. Prior to invoking `dump`/`load`, apispec cannot inspect and translate those fields to swagger.

ModelSchemas infer and create fields upon class declaration, so apispec is able to tr

[2016-11-09 18:56] YuriHeupa opened #97 "minLength/maxLength being added to all types"
Marshmallow allows me to add validation against nested schema length, doing as the follows:

[code]

It'll validate if the `bars` array contains at least 1 object, but using apispec to generate the spec for this schema, it'll output the follow:

[code]

Based on swagger specification http://json-schema.org/latest/json-schema-validation.html#anchor26 (5.6/5.7) the `minLength` and `maxLength` can on

[2016-11-13 23:07] sloria commented on #97
The sections of the json-schema spec you linked to say

But I don't see language that suggests that these keywords cannot be used for other types. Am I missing something?

[2016-11-14 16:07] YuriHeupa commented on #97
I think that because it doesn't say it shouldn't be used not necessairly means that it could be used with other types aside from strings. I think if minlength/maxlength could be used with other types, it wouldn't fail with the existing swagger validators, however it's failing (try giving a shot with flex validator).

For array types the attrs `minItems` and `maxItems` should be used instead.

I up

[2016-11-15 22:05] lordent opened #99 "Inspect parameters from tornado handler method with coroutine"
When used @gen.coroutine or similar decorator on handler method
[code]
inspect.getargspec function ([tornado plugin](https://github.com/marshmallow-code/apispec/blob/dev/apispec/ext/tornado.py#L83)) return decorated arguments, and then we got empty list
[code]
 And error like this, when used function spec.add_path
[code]

It fixed If use more common function signature from inspect module,
For exam

[2016-11-16 18:26] tinproject commented on #68
I've come here because I try to add apispec to document an API that I have in a blueprint, I use flask view functions and not MethodViews, and ends up with a solution that believe interesting in this discussion.

As the url paths on flask are defined as Rules on Flask.url_map I define a helper based on `path_from_view()` that loads the path from a Rule object:

[code]

I ignored the `current_app.c

[2016-11-19 16:12] #95 closed, assigned to nobody

[2016-11-19 16:44] #97 closed, assigned to nobody

[2016-11-20 14:42] sloria commented on #99
Thanks for reporting. I would certainly review a PR for this.

[2016-11-26 05:29] revmischa opened #100 "Meta.fields ignored"
/lib/python3.5/site-packages/apispec/ext/marshmallow/swagger.py:450: UserWarning: Only explicitly-declared fields will be included in the Schema Object. Fields defined in Meta.fields or Meta.additional are ignored.
  "Only explicitly-declared fields will be included in the Schema Object. "

I'm not clear what I'm supposed to do to resolve this. I'm just trying to use Meta.fields with Flask-Marshma

[2016-12-16 09:18] matijabesednik opened #102 "Tornado getargspec with decorated handler method arguments."
Current implementation uses deprecated inspect.getargspec() method to get argument names.

It causes issues having decorated handler methods and you get decorator arguments instead of method arguments which breaks swagger path generation.

[2016-12-17 22:38] lafrech opened #104 "Allow several schemas, equivalent from client POV, to resolve to the same definition"
It is possible in an application to have multiple serialization/deserialization schemas that look identical to the client but behave differently in the application.

This is the case in a MongoDB application of mine where I use an Object Document Mapper. My app code may return an object, in which case it gets marshalled using a "OO <-> json" schema. But sometimes I have to sort of skip the ODM (be

[2017-01-04 03:09] #102 closed, assigned to nobody

[2017-01-15 17:05] sloria commented on #84
The workaround for this is to pass a schema instance rather than a class:

[code]

because the `dump_only` attribute gets set on the fields upon schema instantiation.

[2017-01-16 11:36] lafrech commented on #84
Yes.

I had a look at this issue when it was submitted and didn't find any obvious solution.

This workaroud works but it breaks [schema resolving in marshmallow extension](https://github.com/marshmallow-code/apispec/blob/dev/apispec/ext/marshmallow/__init__.py#L134). The mechanism relies on Schema classes being stored, not instances.

I would like to suggest the following change to `schema_defini

[2017-01-16 13:55] lafrech commented on #84
On second thought, I'm mixing two issues here.

I just sent a PR to let `schema_definition_helper` pass  `schema2jsonschema` a Schema instance rather than a class.

The tests fail because this change breaks the use case where `schema_definition_helper` is passed a Schema instance.

AFAIU, there is an inconsistency between the [tests](https://github.com/marshmallow-code/apispec/blob/dev/tests/test_

[2017-01-16 16:35] sloria commented on #84
@lafrech Thank you for looking into this. I think you are correct re: the docs/comments being incorrect. Users should be able to pass either a class or instance, and I think your solution in your previous comment should work.

[2017-01-17 20:42] lafrech commented on #84
Thank you for the feedback @sloria. I sent a new PR.

[2017-02-14 10:29] lafrech commented on #46
Ideally, I would add

    discriminator = 'field_name'

to the `Meta` of the Schema.

But if I do that, I don't know where to get `'discriminator'` back. It is lost in [`SchemaOpts.__init__`](https://github.com/marshmallow-code/marshmallow/blob/dev/marshmallow/schema.py#L183) in Marshmallow, which only picks a whitelist of attributes.

Also, it is a bit misleading that [discriminator appears](http

[2017-02-16 17:53] lafrech opened #108 "How to specify attributes (such as dump_only,...) on Nested fields?"
Say you have a dump_only Nested field in your model.

The model reads:

[code]

Assuming you added Child to the definitions, the spec then looks like

[code]

Unfortunately, this is invalid OpenAPI spec: https://github.com/swagger-api/swagger-js/issues/402

I get this warning in ReDoc:

    Other properties are defined at the same level as $ref at "#/definitions/Parent/properties/child". They are

[2017-02-18 22:04] lafrech commented on #66
`allow_none` is somehow related, although it is not a `Validator`.

It would map to `nullable`, except [`nullable` does not exist... yet](https://github.com/OAI/OpenAPI-Specification/issues/229). There seems to be a wide consensus upon the use of `x-nullable` until `nullable is added` (OpenAPI 3). It has been [integrated in ReDoc](https://github.com/Rebilly/ReDoc/pull/95), for instance.

Should we

[2017-03-03 04:18] sloria commented on #104
This seems to specific a use case to justify changing apispec core. Could your application just prevent calling definition on `UserDBSchema` rather than having apispec be responsible for skipping it?

[2017-03-03 04:20] sloria commented on #91
`apispec` is only responsible for generating the data that would be rendered to `swagger.json` or `swagger.yaml`. It does not generate UI. Frontends like Swagger-UI would consume the rendered spec generated by apispec.

[2017-03-03 04:20] #91 closed, assigned to nobody

[2017-03-03 04:21] sloria commented on #46
This is now supported via the `extra_fields` parameter to `definition`:

[code]

[2017-03-03 04:21] #46 closed, assigned to nobody

[2017-03-03 04:24] sloria commented on #66
Closing this for now. Feel free to reopen if this requires further discussion.

[2017-03-03 04:24] #66 closed, assigned to nobody

[2017-03-03 04:27] #84 closed, assigned to nobody

[2017-03-03 09:59] lafrech commented on #104
Due to changes in our application, I don't have that need anymore. The theoretical point still remains.

We're using use_args / marshall_with decorators, like flask-apispec, so the Schema we specify for the [de|]serialization is the one that appears in the docs. I guess I could manage this use case in those decorators rather than in apispec core. By adding an explicit parameter to the decorator, o

[2017-03-03 09:59] #104 closed, assigned to nobody

[2017-03-03 10:05] lafrech commented on #108
I tried to expose the issue in the tests, but apparently, the validation in swagger-tools does not raise any error about that, so I don't have a failing test.

Here's a quick fix attempt using `allOf` to wrap all nested schemas: https://github.com/marshmallow-code/apispec/compare/dev...Nobatek:dev_nested_attributes?expand=1

[2017-03-03 12:26] sloria commented on #88
It is perfectly valid to modify `FIELD_MAPPING`.

I'm not sure there's any documented convention, but the list you have above is a good rule of thumb.

[2017-03-03 12:26] #88 closed, assigned to nobody

[2017-03-03 20:43] sloria commented on #108
Good catch. I think `allOf` is the correct solution, but it would be nice if it were only used when needed, i.e. only wrap in `allOf` if there are additional properties.

[2017-03-05 14:10] #108 closed, assigned to nobody

[2017-03-06 02:54] sloria commented on #100
You will need to explicitly declare your fields to allow them to be inspected by apispec.

Do this:

[code]

Not this:

[code]

[2017-03-06 02:54] #100 closed, assigned to nobody

[2017-03-06 02:56] sloria commented on #77
Going to hold off on this for now. Most users of apispec use the marshmallow extension, so for now it is simpler to keep the marshmallow plugin bundled with the core package.

We may reconsider this in the future, but closing for now.

[2017-03-06 02:56] #77 closed, assigned to nobody

[2017-03-06 03:39] sloria opened #114 "Remove dump parameter from `schema2parameters`"
As found by @lafrech in #112 : `schema2parameters` should only be handling client input, so `dump` should never be `True`. We should verify this and remove the `dump` parameter if possible.

[2017-03-06 08:31] lafrech commented on #114
Copying @frol who introduced dump parameter in https://github.com/marshmallow-code/apispec/pull/38/files.

I suspect frol introduced this parameter to let his change be a non-breaking enhancement. But maybe it should have been a bugfix instead, with dump parameter implicitly False.

[2017-03-06 09:40] frol commented on #114
Please, let me have a few hours to remember what was the point of this.

[2017-03-06 10:48] frol commented on #114
As you can see, I haven't introduced the `dump` parameter to `fields2parameters`, I only made the code consistent in this regard.

@jmcarp has introduced the `dump` parameter to `fields2parameters` in #33 to close issue #32.

[2017-03-06 10:59] frol commented on #114
I support the idea of dropping `dump` parameter for `fields2parameters` functions and pass `dump=False` explicitly to the downstream calls.

[2017-03-06 13:16] lafrech commented on #114
Sorry. I read a little too fast.

In @jmcarp's flask-apispec, `fields2parameters` is called with `dump=False` as well.

We may also drop `dump` parameter for `field2parameter` (singular) and call [`field2property`](https://github.com/marshmallow-code/apispec/blob/4c1d921bcb10ac21aa1ddf3f8372cb1a7b229718/apispec/ext/marshmallow/swagger.py#L376) with `dump=False`, can't we?

[2017-03-06 13:23] frol commented on #114
I believe, we should.

[2017-03-07 07:54] lycplus opened #115 "Support marshmallow-jsonapi"
It is good if we can support marshmallow-jsonapi schema.

[2017-03-07 13:06] sloria commented on #115
This is more an issue with marshmallow-jsonapi than apispec. marshmallow-jsonapi relies on `post_dump`/`pre_load` methods for jsonapi formatting, which makes it difficult for apispec to inspect the correct schemas. This issue is documented in marshmallow-code/marshmallow-jsonapi#12. Further discussion should happen on that issue.

[2017-03-07 13:06] #115 closed, assigned to nobody

[2017-03-07 13:08] sloria commented on #114
Thanks for investigating this @lafrech and @frol.

Would either of you be willing to take a stab at a PR?

[2017-03-08 02:31] #114 closed, assigned to nobody

[2017-03-10 05:42] lycplus opened #117 "How to add description about marshmallow schema fields"
apispec can add definitions according to marshmallow schema like this:

[code]

Howevery, we can not add description about field except the type information.

[2017-03-10 06:02] lycplus commented on #117
Sorry, it is supported by:

[code]

[2017-03-10 06:02] #117 closed, assigned to nobody

[2017-03-13 23:16] mathewmarcus opened #118 "Inspect `attribute` and/or `load_from`/`dump_to` properties for marshmallow extension"
If I create the following schema:

[code]

and register it
[code]

the generated APISpec still lists the the properties as `first_name` and `last_name` instead of `firstName` and `lastName`. Similarly, the `load_from` and `dump_to` parameters are also ignored.

Would there be interest/would it make sense to change the properties in the generated APISpec to reflect the `attribute`, `load_from`, and

[2017-03-15 15:27] luisincrespo opened #119 "Ignore `load_only` fields if `dump=True` in `fields2jsonschema`?"
Hi,

I'm making use of https://github.com/jmcarp/flask-apispec to automatically generate docs in a personal flask project. This library makes use of your apispec swagger extension to generate docs for requests and responses. I figured out that responses in the generated docs where including `marshmallow`'s `load_only` fields, which (at least in my case) is not convenient. In the line that I'm link

[2017-03-15 15:47] lafrech commented on #119
We might have an issue, here, because `schema_definition_helper` calls `schema2jsonschema` which in turn calls `fields2jsonschema`.

When adding a definition, we don't want to exclude fields. The schemas in definitions can be used for both input and output, so we want all the fields, with the dump_only marked `readOnly`, and the load_only... well we can't mark them `writeOnly` because this does no

[2017-03-15 15:54] luisincrespo commented on #119
@lafrech as you said, "dump_and_load" is the default, so I think the `dump` boolean arg suffices, I mean:

- If you're creating a response definition (`dump=True`) you only have to worry about ignoring `load_only` fields, everything else shouldn't be ignored (unless inside `exclude`).
- If you're creating a request definition (`dump=False`) you only have to worry about ignoring `dump_only` fields,

[2017-03-16 09:19] lafrech commented on #119
I'm not sure I understand. Would you care to illustrate this with a code example ?

If it's not too much work, you may provide it in the form of a PR draft.

Thanks.

[2017-03-16 10:25] frol opened #120 "Support custom Marshmallow fields"
Currently, all custom fields automatically become `type="string", format=None` due to the [hard-coded `FIELD_MAPPING`](https://github.com/marshmallow-code/apispec/blob/bc6e0e5df8d23fd7dadedd09339f1e76910c2498/apispec/ext/marshmallow/swagger.py#L24-L42). Thus, I cannot extend any marshmallow type, e.g. `Dict` or `Number` with apispec support. Currently, the only way to extend apispec support is to

[2017-03-16 10:53] frol commented on #120
One solution to that would be to extend the implementation of `_get_json_type_for_field` by adding a loop going through the base field types using `isinstance()` to detect the best matching field type. The loop will only be used when no exact `FIELD_MAPPING` is found, so it should not hit the performance in general.

NOTE: The list of the base fields should be maintained separately in this case as

[2017-03-16 11:07] lafrech commented on #120
Our framework modifies hardcoded `FIELD_MAPPING`: https://github.com/Nobatek/flask-rest-api/blob/master/flask_rest_api/spec/__init__.py#L76

I find this a bit inelegant, but @sloria says it's fine (see https://github.com/marshmallow-code/apispec/issues/88).

[2017-03-16 11:09] frol commented on #120
@lafrech Thanks for sharing. Let's wait for @sloria comments on the proposed solutions.

[2017-03-16 12:17] sloria commented on #120
@frol I like both of your suggestions above, and I think they would work well in concert. I would certainly review and merge a PR implementing them.

[2017-03-16 13:31] lafrech commented on #120
I'd really like a way to register a new "field <-> type" association. Like what I currently do in the example I posted by appending to `FIELD_MAPPING`.

In practice, I have a few fields that are specific to my application, but I use them a lot in the code, so having to specify `swagger_type` each time I instantiate them would be a pain.

[2017-03-16 13:35] frol commented on #120
@lafrech I don't see a point in passing `swagger_type` to field instantiation. I meant to have it as a field class attribute:

[code]

[2017-03-16 13:38] lafrech commented on #120
Sorry @frol, I misunderstood.

There is still the case where you get those custom fields from a third-party library. Well, I suppose you can monkeypatch them in your code.

[code]

[2017-03-16 13:50] frol commented on #120
@lafrech Good point. Only the first of my suggested solutions can partially address this use-case. To avoid such monkey-patching of either the field itself or the `FIELD_MAPPING` in apispec, some sort of field mapping registering should be implemented on the apispec side as a part of user API. I think, the second solution is counterproductive as it requires cooperation from the field class while i

[2017-03-16 13:59] lafrech commented on #120
@frol Yes, this is what I had in mind when opening #88, but then @sloria said modifying `FIELD_MAPPING` was fine so I let it go.

Adding an explicit API to it would be nice, though.

We may want to copy `FIELD_MAPPING` to an attribute of `APISpec` at init time, and register custom fields in that instance copy. The point is that if you have an app that you import once then instantiate and initializ

[2017-03-16 21:53] luisincrespo commented on #119
Here's a en example to illustrate what I mean:

[code]

Notice how in the schema properties for the definition of the response, `loadAttr1` is included, which is `load_only` in `SomeSchema`, and that's what I don't want to happen. I want `load_only` attributes to be excluded from the definition of the response properties.

I hope this clarifies the issue @lafrech.

[2017-03-16 21:56] lafrech commented on #119
I totally understand this. I meant would you like to add an example of the change you would like to make in `fields2jsonschema`?

Alternatively, you may send a PR, even a draft, with the change you want. That would be the best illustration. Unless it is too much work.

[2017-03-16 21:59] luisincrespo commented on #119
ohhh I see, yeah no problem, I can open a PR with the potential change 👍

[2017-03-16 22:03] lafrech commented on #119
Sorry, I could have been clearer.

[2017-03-16 22:10] luisincrespo commented on #119
I opened this PR #121, that's what I had in mind, haven't tested it though, let me know what you think @lafrech

[2017-03-17 13:31] sloria commented on #120
I like @lafrech 's idea of copying `FIELD_MAPPING`.

Maybe we could add an APISpec method for mapping a field to a swagger type and format. Something along the lines of

[code]

[2017-03-19 18:07] lafrech commented on #119
The dump attribute was written to specify that the output is used only for input parsing (parameters), therefore dump_only fields should be removed.

Symmetrically, there could be a load field to specify that the output is only used for output dumping (responses).

But you can't use the same boolean for that, because the output of `schema2jsonschema` can be used for both load and dump: when it is

[2017-03-21 22:34] luisincrespo commented on #119
@lafrech thanks for your explanation. That makes sense, it'll be breaking to use the `dump=False` to assume that we're building a schema for loading only.

I am doing something similar at the moment, but instead of having a separate schema I programmatically (using some meta-programming) remove the `load_only` fields from the schema used for responses.

I could improve my existing PR to include bo

[2017-03-21 22:46] lafrech commented on #119
I suggest you close the PR for now and leave this issue open, and wait for feedback from @sloria  before you code the `dump_only` / `load_only` change.

[2017-03-23 02:07] sloria commented on #119
Thank you for opening this discussion, @luisincrespo and @lafrech .

True, the way to work around this issue is to have separate schemas for input vs. output. True, this isn't ideal, but it's not the worst workaround.

I would be open to adding a `load` parameter that would be used when translating schema for input, though I haven't given much thought to how much complexity would be involved to pa

[2017-04-18 04:16] sloria commented on #99
This has been fixed.

[2017-04-18 04:16] #99 closed, assigned to nobody

[2017-04-18 04:32] sloria commented on #99
0.20.1 also fixes this is Python 2.

[2017-05-05 16:20] boosh opened #125 "`APISpecError: Could not find endpoint for view` when using flask MethodViews"
I've seen #85 which seems to suggest Flask's `MethodViews` should be supported. I've added a URL rule with:
[code]

But when I try to add a path for my schema with:
[code]
I get an error:
[code]
I've tried passing various combinations of `Articles`, `Articles.as_view('articles')`, etc to `add_path` but nothing works. I've also tried the function in #85, but it still doesn't work.

I'm assuming thi

[2017-05-08 06:28] ccutch commented on #68
@tinproject Tried this out for myself almost worked perfectly, except for me the `len(ep) == 1` condition should have resulted in a `continue` and not a `break` because there was an app route in between my blueprint routes. Not sure why that was the case but none the less thank you for this contribution!

[2017-05-09 18:41] tinproject commented on #68
I've been thinking about how can I solve this, a plugin helper that can add multiple paths at the same time is needed to properly document Flask apps.

In Flask a view function can have multiple url paths. A Rule in Flask has one url pattern associated with a flask endpoint, that is uniquely linked to a view function (or MethodView). Endpoints to view functions are one-to-one related, but url patt

[2017-05-09 18:52] tinproject opened #126 "Support for plugins to add multiple paths at once"
In #68 it shows the need for plugins to add multiple paths at one time.

I'm currently implementing a `Apispec.add_paths()` [function](https://github.com/tinproject/apispec/blob/add-multiple-paths/apispec/core.py#L204), but I don't feel this is the better way to do this.

I've thinking that allowing path helpers to return a list of Path objects, in addition to Path object, is better and easier. Pe

[2017-05-14 18:18] ewalker11 opened #127 "Support Schemas for Request Body / Query Params"
The marshmallow plugin already nicely supports schemas for response bodies, but it would be nice if it could also support schemas for request bodies/query params. I have a PR that could support this, but wanted to get feedback on the format. Here's what I was thinking:

### Body:
This would operate similarly to the existing response schema handling, where the schema would get replaced by a $ref if

[2017-06-30 05:29] yoichi commented on #127
In your examples, "name" is specified in an element of "parameters" and it will not be carried over to result. It may cause confusion if there are query parameter named "query" or "body".
I think it is better to specify "in" in docstrings instead.

[2017-07-08 11:02] d21d3q opened #132 "Combine marshmallow and tornado schema reference."
Using marshmallow plugin it is possible to write in docstring only class name [link](https://github.com/marshmallow-code/apispec/blob/47a3d98b67bb31f3db7bbcc3e1333f2eaf7f89fc/tests/test_ext_marshmallow.py#L73), but with tornado plugin one have to write path to definition [link](https://github.com/marshmallow-code/apispec/blob/47a3d98b67bb31f3db7bbcc3e1333f2eaf7f89fc/tests/test_ext_tornado.py#L82).

[2017-07-10 22:42] djanderson commented on #125
This is my current solution to this problem. If there's interest, I can do a PR to `apispec.ext.flask`.

[code]

[2017-07-11 02:50] sloria commented on #125
I would certainly review and merge a PR fixing this!

[2017-07-11 18:31] djanderson opened #135 "apispec.utils.load_yaml_from_docstring should let YAMLError propagate"
* I think the "---" prefix is enough to keep from accidentally parsing random docstrings as YAML
* the YAML parser raises very useful errors
* swallowing the YAML parser error silently is *probably* not doing the user a favor

[code]

I propose changing

[code]
to
[code]

[2017-07-11 20:01] CausticYarn opened #136 "Order of plugins affects output"
The example shows:

[code]

And the output is:

[code]

However, if the order of the plugins to spec is (marshmallow, flask), then the output is:

[code]

Which doesn't resolve correctly in the Swagger doc.  If the order is relevant by design, it should be documented.

[2017-07-12 22:18] CausticYarn opened #137 "Use value for "missing" in schema as "default" in Swagger spec"
When the schema represents a response, it makes sense that the "default" keyword for a field represents the "default" value in the Swagger spec.  However, when using the schema as a request body parser, it's actually the "missing" value that becomes the "default" for deserialization of the request body. Ideally this would be part of the Swagger specification.

This is somewhat related to #127

[2017-07-29 20:36] ewalker11 commented on #127
@yoichi I'm good with `in` instead of `name` 👍

[2017-08-04 01:09] dradetsky commented on #120
This just came up for me. I was going to suggest extending `_get_json_type_for_field` to walk up the inheritance tree if no match was found. It would eventually hit `Field`, so no default would be required. Of course, this might get complicated with multiple inheritance, and in any case you'd still need to be able to actually override the parent def in some cases.

I'm going to hack together a mod

[2017-08-04 02:47] #125 closed, assigned to nobody

[2017-08-05 01:19] dradetsky commented on #120
So I created a decorator with a similar name, a (not very good or clean) test, and some not terribly helpful documentation. It's not ideal, but if you need this feature now (I do), it does the job.

There are 2 prs:

#140: the actual pr, with merge conflicts
#141: like the actual pr, but rebased. I wasn't sure I did it right, so I thought I'd just make a separate pr.

Assuming it's acceptable, my

[2017-08-05 23:05] sloria commented on #120
@dradetsky Thank you for working on this. I think we can go ahead and merge #141 (it looks like you rebased correctly there) once my suggested changes have been addressed.

[2017-08-09 03:45] #127 closed, assigned to nobody

[2017-08-09 03:46] sloria commented on #136
This looks to be a bug; order should not matter, at least not for the flask and marshmallow plugins. I would definitely review and merge a PR fixing this.

[2017-08-14 16:11] wobeng commented on #120
any update on this?

[2017-08-15 12:18] sloria commented on #120
The `swagger.map_to_swagger_type` decorator is available in 0.24.0, which has just been released to the PyPI.

[2017-08-15 12:18] #120 closed, assigned to nobody

[2017-08-15 12:29] sloria commented on #135
I think you are correct @djanderson . I would certainly review and merge a PR for this!

[2017-08-16 03:19] #135 closed, assigned to nobody

[2017-08-29 08:02] nebularazer opened #149 "Question: How to set 'consumes' for file upload operations"
Hi,

i am trying to create a file upload endpoint within a flask app.

I am using a custom field to enable the fileupload in swagger-ui:

[code]

But in order to make swagger-ui actually work i need to set:
`{'consumes': ['multipart/form-data', 'application/x-www-form-urlencoded']}`
on my post operation.

Currently i am just updating the spec manually:
[code]

Is there a better way to do this?

[2017-08-30 14:42] frol commented on #149
Well, `consumes` is specified on the level of method configuration, so if you use apispec to generate that part of swagger.json, you simply specify this in the docstrings:

[code]

[2017-08-31 10:26] nebularazer commented on #149
Your suggestions works fine, obviously.
I think this is more a flask apispec problem, as i am decorating my routes with flask_apispecs `marshal_with`, which seems to overwrite everything defined in the docstring.

would be nice if it would somehow just merge, what do you think?

[code]
resulting swagger definition
[code]

[2017-08-31 11:40] frol commented on #149
*You will have a better chance to have an answer if you open the issue where it belongs (in your case, flask-apispec).*

Given that you pass `tags` and `summary` with `@doc` decorator, I guess that you should pass `consumes` that way as well.

[2017-09-01 08:48] nebularazer commented on #149
Thank you. Putting consumes into `@doc` works.
Why did i not think of that before? :confused:

[2017-09-01 08:48] #149 closed, assigned to nobody

[2017-09-05 12:57] yoichi commented on #132
Call spec.definition() as described in
https://github.com/marshmallow-code/apispec/blob/dev/docs/using_plugins.rst

[2017-09-26 02:55] anukul-mohil opened #154 "Can we use Json schema with tornado plugin"
Can we use [JSON schemas](http://json-schema.org/) with apispec (tornado in particular)?
This is what I tried:
[code]

This outputs:
[code]

[2017-09-27 12:05] #75 closed, assigned to nobody

[2017-10-02 19:35] Bangertm opened #155 "Marshmallow validate.Equal does not generate an enum in swagger"
I would have expected that the marshmallow Equal validator to generate an enum with a single entry in swagger and be the equivalent of OneOf with only a single entry in the list.

For example:

[code]

produces:

[code]

[2017-10-03 03:05] sloria commented on #155
Good point. I would certainly review and merge a PR for this.

[2017-10-03 23:24] mathewmarcus opened #157 "Add chalice plugin"
Would you be open to a pull request to add an extension, which would likely resemble the Flask extension, to add support for the [AWS Chalice microservice framework](https://github.com/aws/chalice)?

[2017-10-03 23:55] sloria commented on #157
@mathewmarcus I would rather see chalice supported as a 3rd-party plugin. If you end up implementing this, go ahead and add it to the wiki: https://github.com/marshmallow-code/apispec/wiki/Ecosystem

[2017-10-03 23:55] #157 closed, assigned to nobody

[2017-10-08 22:45] zdexter opened #159 "Tornado extension should use path args, not method args"
Currently using webargs with `marshmallow` breaks the tornado extension in `apispec`:

[code]

The error is:
[code]

that's because `tornadopath2swagger` gets the method arguments at the python level:

[code]

ideally `tornadopath2swagger` can call `path_args` and `path_kwargs` on the `RequestHandler` instance (if possible) or otherwise get the path args/kwargs from tornado.

[2017-10-09 05:21] yoichi commented on #154
If you use custom_json_schema as a response spec, try following:

[code]

[2017-10-10 05:31] anukul-mohil commented on #154
@yoichi Thanks a lot for the snippet, it does work but I was wondering if json schemas can be used inline with the docstring for the method/class. Something like :
[code]

Also can you give a similar example for request schema on a post request. Something like:
[code]

[2017-10-10 22:01] yoichi commented on #136
Order dependency comes from the fact that operation resolve process is done inside path helpers.
It can be solved by separating them https://github.com/marshmallow-code/apispec/pull/152

We have to introduce incompatible change to extension mechanism to solve it. I'm not sure we should fix this issue or not. What do you think? @sloria

[2017-10-10 22:17] yoichi commented on #154
apispec doesn't have the feature with plain request/response schema.
Instead, we have similar feature with marshmallow Schema class which generates request/response schema as a derivative. https://apispec.readthedocs.io/en/latest/using_plugins.html#example-flask-and-marshmallow-plugins

[2017-10-12 14:18] daenney opened #161 "yaml.dump of spec.to_dict() results in invalid spec"
I'm trying to dump the spec to YAML with `yaml.dump(spec.to_dict())` but that results in an invalid representation due to entries like these:

[code]

Or, for items:
[code]
[code]

In order to dump this correctly it seems we'd need a custom YAML dumper for apispec. Use `safe_dumper` isn't possible either since it doesn't know how to dump certain of these objects.

[2017-10-12 14:57] daenney commented on #161
My current approach is `yaml.dump(json.loads(json.dumps(spec.to_dict())), default_flow_style=False)` which side-steps the issue.

[2017-10-16 13:33] yoichi commented on #161
Add representer before yaml.dump() call as:
[code]

[2017-10-16 15:30] daenney commented on #161
Awesome, thanks. That looks much better!

One other question, I run into a few cases where something like this shows up:

[code]

This comes from a definition like this:
[code]

This seems mostly fine and passes validation but it doesn't feel quite right to have `&id001` show up in there. (`fields` is `marshmallow.fields`)

[2017-10-20 15:36] yoichi commented on #161
@daenney I could not reproduce your situation. Could you share us a reproducable code (and the environment information)?

Regards,

[2017-10-21 23:48] danigosa commented on #159
@zdexter can it be the reason why it simply does not work with url parameters nor named url parameters?

Having the flask sample in Tornado:

[code]

If I dump the spec without parameters:

[code]

But obviously it cannot get the correct `path_args` or `path_kwargs` and it simply fails:

[code]

[2017-10-21 23:58] danigosa opened #164 "Tornado URLSpec with URL parameters not working"
It simply does not work with url parameters nor named url parameters?

Having the flask sample in Tornado:

[code]

If I dump the spec without parameters:

[code]

But obviously it cannot get the correct `path_args` or `path_kwargs` and it simply fails:

[code]

[2017-10-21 23:59] #164 closed, assigned to nobody

[2017-10-21 23:59] danigosa commented on #164
My bad it actually works

[2017-10-22 10:29] danigosa commented on #159
We also found this bug annoying, it makes impossible to use `webargs` decorators inline with `apispec`, which is too verbose (using the parser directly inside the method).

[2017-10-22 14:14] yoichi commented on #159
I do not use tornado and I have no idea how to fix it, but I found the conditional branch was introduced in https://github.com/marshmallow-code/apispec/pull/103.
Do you have an idea how to deal with it? @matijabesednik

[2017-10-23 23:48] #155 closed, assigned to nobody

[2017-10-29 01:24] yoichi commented on #132
You must include 'apispec.ext.marshmallow' in plugins argument of APISpec() as

[code]

to resolve marshmallow class.

[2017-10-29 01:33] sloria commented on #159
@zdexter @danigosa I would certainly review and merge a PR fixing this.

[2017-10-29 01:34] #132 closed, assigned to nobody

[2017-10-31 03:05] #136 closed, assigned to nobody

[2017-10-31 03:05] sloria commented on #136
This is fixed in 0.27.0

[2017-11-02 10:24] rdehouss opened #165 "Support OpenAPI version 3.0"
Hi there,

We're using APISpec with Marshmallow and aiohttp or sanic and it works really great.

There are some new great changes with OpenAPI (version 3) vs Swagger API (version 2).
Any plan to implement Open API version 3?

Thanks

Kind regards,

Raphaël

[2017-11-06 23:03] daganharrington opened #166 "Is there support for the rendering of custom validators?"
New to this library and could not find in docs:

If I custom, arbitrary validator over some `field`, does this library give me hooks to include that in the spec output?

[2017-11-09 21:51] dlopuch opened #168 "Marshmallow-schema'd body parameters lose 'required' and 'description' field spec"
Consider this code:

[code]

The output is:

[code]

Bug:
- The `required` field switched from True to False
- The `description` field got lost

The `name` parameter also gets renamed, but I believe this is per-spec.

I believe the cause is here: https://github.com/marshmallow-code/apispec/blob/0.27.0/apispec/ext/marshmallow/__init__.py#L148

Adding a `, required=parameter['required'] if 'required

[2017-11-10 15:59] yoichi commented on #166
What is the meaning of arbitrary validator? (maybe latter...)

* apispec does generate appropriate spec output according to the specified validators (e.g. marshmallow.validators.Range)
* There is no hook point to control apispec behavior on newly defined validators.

Regards,

[2017-11-10 16:29] yoichi commented on #168
@dlopuch I am grateful for the clear bug report.

I am worried that the current implementation of fields2parameters is already complicated,
but I have no idea about other ways. Could you try the fix in that way?

Regards,

[2017-11-11 09:30] dlopuch opened #169 "Marshmallow schema parameters are resolved using schema class, not schema instance"
When apispec resolves parameters using marshmallow schemas, it appears to use the Schema *class*, not the Schema *instance*:

https://github.com/marshmallow-code/apispec/blob/dev/apispec/ext/marshmallow/__init__.py#L146

I believe this is problematic because Marshmallow allows for schema modifiers on instantiation, but these modifiers are therefore ignored by apispec.  This is important because di

[2017-11-16 16:55] zikphil commented on #165
+1 for this

[2017-11-20 22:44] benturnerdev commented on #165
+1

[2017-11-21 08:30] lafrech commented on #165
Guys, please use the thumbs up emoticon rather than posting +1 comments. This is just noise for those being notified by email.

If you want to help tackle this issue, you may dig in the OpenAPI 2 and 3 specs to spot differences, or maybe find a "what's new ?" or "migration howto" like this:

https://www.blazemeter.com/blog/whats-new-in-swagger-open-api3

Here's what I noticed, already.

#### Polym

[2017-11-21 14:32] sloria commented on #165
I definitely would like to see support for v3 in apispec. That said, I personally do not need it for work or otherwise, and my time is very limited these days, so it's hard for me to put in the necessary time for this. I welcome any contributions!

Thanks for doing that initial analysis, @lafrech .

I lean toward the former; apispec is generally permissive in what it allows; there aren't a lot of

[2017-11-21 15:12] lafrech commented on #165
Yes. What I thought, too. Glad that you confirm.

Time limited on my side as well and no need to have this production ready right now.

To potential contributors: listing v2/v3 issues here would be helpful already. Implementation can come in a second phase. On the other hand, small non-breaking patches are acceptable as well. No need to get the whole thing thought and done at once.

[2017-11-28 13:03] ghost commented on #35
When the "model" is altered with only/exclude, shouldn't it be considered as another "model"?
And so, having an inline definition respecting the only/exclude? (like if the schema was not registered)

[2017-11-28 16:48] raphaeldehoussefaktory commented on #35
In function `resolve_schema_dict`, line 175, if I add `use_refs=False` to function call `schema2jsonschema` and I use a `schema_definition_helper` to set `use_refs=False` to function call `schema2jsonschema` then I don't have the issue.
The problem is that it can't be done without changing the line 175 of __init__ of marshmallow extension :/

[2017-11-30 23:37] ukaratay opened #171 "Paths with defaults do not get recognized"
I have multiple paths in my Flask app:

[code]
When I add this view function to APISpec, it does not recognize the path /v1/models/<string:id>:

[code]

[code]
I looked through documentation and the code, but couldn't see any examples like this or an option.

P.S. I had to redact some information from the output. Denoted by ellipsis.

[2017-12-01 13:45] Ch00k opened #172 "Support for Hyperlinks schema field type (provided by flask-marshmallow)"
Currently if I have a `Hyperlinks` field type in my schema, it is being interpreted as `string`, and of course all the complex nested structure of the field is not preserved. Is there any way I can make `Hyperlinks` field type work with apispec?
https://flask-marshmallow.readthedocs.io/en/latest/#flask_marshmallow.fields.Hyperlinks

[2017-12-04 20:14] Ch00k commented on #172
Just realised that the same happens to a `Function` field.

[2017-12-11 17:13] p0psicles commented on #164
How did you get to fix the exception? Did you pass the path eventually?

[2017-12-11 19:41] p0psicles opened #176 "Can't use apispec tornado plugin icw complex paths"
I'm trying to use apispec icw the 'apispec.ext.tornado' and 'apispec.ext.marshmallow' plugins.
Only i'm getting the following error:
[code]

It seems to be happening because matcher._path is None.
https://github.com/marshmallow-code/apispec/blob/dev/apispec/ext/tornado.py#L95

`urlspec.matcher._path` returns None, because of this:
https://github.com/tornadoweb/tornado/blob/master/tornado/routing.p

[2018-01-09 08:46] inkhey commented on #169
Just trying something to support exclude/only for auto_ref : https://github.com/inkhey/apispec/commit/e584f26433bcc388267a71292c61add7ee94ae76 .

[2018-01-09 13:53] LeonAgmonNacht commented on #118
+1

[2018-01-09 14:13] lafrech commented on #118
Thanks @mathewmarcus for reporting.

I think `attribute` is handled correctly. At deserialisation, first_name is the source and firstName is the target. In other words, your API exposes `first_name`, not `firstName`. `attribute` is internal implementation detail.

If you want (my guess is you do) to expose `firstName`, you may write

    firstName = fields.String(attribute='first_name')

and your

[2018-01-09 14:13] #118 closed, assigned to nobody

[2018-01-09 14:23] LeonAgmonNacht opened #178 "Marshmallow ext: Name should be set to dump_to even if load_from is not specified"
At the moment, name is changed if both load_from and dump_to is set and are equal, as per this code:
[code]
This behaviour causes schema to look bad and does not make sense.
Name should be set to dump_to even if load_from is not specified.

[2018-01-09 14:42] lafrech commented on #178
Related to https://github.com/marshmallow-code/marshmallow/issues/717.

I think this is a dark corner case.

I don't know how to expose a situation where a field is used for dump and load and the key differ in both dump and load. I'd use two schemas. Now, assuming the schema or the field is dump_only, it makes sense to only specify dump_to and expect it to appear in the spec. Conversely, if a sche

[2018-01-12 11:15] #161 closed, assigned to nobody

[2018-01-18 21:14] mathewmarcus opened #181 "Only single path added for Flask API MethodViews"
The [Flask documentation](http://flask.pocoo.org/docs/0.12/views/#method-views-for-apis) gives a use case - for RESTful APIs - where a single method view can be added under multiple URL rules. The following code snippet is provided as an example.

[code]

If we define the following apispec and add the above view function like so

[code]

only one of the above paths would be included in the generat

[2018-01-18 21:28] lafrech commented on #181
That would be an interesting enhancement, indeed. Would you like to take a stab at it?

[2018-01-18 21:37] mathewmarcus commented on #181
If there's interest in adding it then yes definitely

[2018-01-19 17:22] mathewmarcus commented on #181
Just wanted to lay out what I see as two directions we could take.

1. Having looked at #126 and #68, it seems that there is a desire to create an `add_paths` function or perhaps enable path helpers to return iterables which contain multiple instances of `apispec.core.Path`. This seems like it would require significantly more code changes than option 2, but it would allow path registration to look

[2018-01-25 20:45] dankolbman commented on #181
Currently running into this exact problem. One more thing to consider is how to handle docstrings.

The two rules `GET /users`, and `GET /users/123`, for example, both use the same `get()` in the `MethodView`, however, the first would presumably have no request schema, while the second would. How would these two be differentiated in the docstring? Would the path parameters in the docstring be mand

[2018-01-28 11:36] lafrech commented on #178
@LeonAgmonNacht, see https://github.com/marshmallow-code/apispec/pull/183.

[2018-01-31 03:41] #178 closed, assigned to nobody

[2018-03-05 17:18] mathewmarcus opened #184 "Body parameters renamed "body""
When adding a body parameter, i.e. a parameter where `in="body"`, via a docstring, the parameter is automatically renamed to `"body"`.

For example:

[code]

this yields the following swagger

[code]

Essentially, even though the parameter is explicity named `pet`, it is automatically renamed `body`.

This appears to stem from the fact that when calling [schema2parameters](https://github.com/marsh

[2018-03-05 17:22] mathewmarcus commented on #184
Just saw this is probably related to #168

[2018-03-24 16:53] #168 closed, assigned to nobody

[2018-03-24 17:02] #184 closed, assigned to nobody

[2018-03-24 22:36] lafrech commented on #169
@dlopuch, for this specific use case, I just mark `id` as `dump_only` in the schema and I can use the same schema class in GET, POST and PUT.

[2018-03-24 22:47] lafrech commented on #165
OpenAPI 3.0 introduces writeOnly

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#fixed-fields-20

- [X] add `writeOnly` for load_only fields (typically passwords).

Also, it is acceptable in 3.0 to have a field both required and readOnly, in which case it means it must not be in a request but it is guaranteed to be in a response. In 2.0, required was designed mostly for

[2018-03-25 11:07] p0psicles commented on #176
I still think this is a bug. I'll try to look for a workaround. But any help would be really welcome.

[2018-04-04 08:36] lafrech commented on #165
`nullable` was added to OpenAPI 3: https://github.com/OAI/OpenAPI-Specification/issues/229#issuecomment-283748079.

- [X] Rework https://github.com/marshmallow-code/apispec/pull/109 to use `x-nullable` in v2 and `nullable` in v3.

[2018-04-04 13:39] lafrech opened #193 "RFC: enforce method order for one endpoint in the spec"
_Although json objects are not ordered, some tools respect the order in the OpanAPI json file to display the spec. Therefore, it makes sense to respect the order desired by the user when writing the spec file. Several PRs are based on this assumption (#86, #87, #189)._

It could be nice to enforce the order of the methods for each endpoint. For instance, always present the methods in this order:

[2018-04-04 13:47] lafrech commented on #171
I think this is due to the "one rule per view function" limitation.

See https://github.com/marshmallow-code/apispec/issues/181.

Closing this as duplicate of #181. Feel free to reopen if I'm wrong about this.

[2018-04-04 13:47] #171 closed, assigned to nobody

[2018-04-05 07:41] lafrech commented on #32
I don't have the whole webargs history in mind, maybe this was correct back then, but I think current behaviour is partly wrong.

Here's what [OpenAPI docs](https://swagger.io/docs/specification/describing-parameters/) say about default parameters:

We should use the `missing` attribute in any case. The `default` attribute of a marshmallow field is internal detail the client shouldn't care about,

[2018-04-05 07:51] lafrech opened #196 "Documenting callable default"
When a default/missing value is a callable, it is called when generating the documentation.

[code]

This can be wrong if the value of the callable depends on the moment it is called. Typically, if it is `dt.datetime.now`. There should be an opt-out for this allowing to specify an alternative text to write in the docs.

Not sure how to do that. Maybe a `default_doc` attribute in the Schema that wo

[2018-04-05 09:55] lafrech commented on #193
Note that this makes sense if the spec file is served without breaking the order.

When using flask, `jsonify` breaks the order, unless `app.config["JSON_SORT_KEYS"] == False` (https://github.com/pallets/flask/issues/974).

I suspect flask-apispec doesn't get the right order, then, as it uses `jsonify` (https://github.com/jmcarp/flask-apispec/blob/master/flask_apispec/extension.py#L88).

To serve

[2018-04-09 09:50] lafrech opened #198 "Minor issues with field2choices"
I think that in marshmallow swagger, some pathological cases are not handled the best way.

This

[code]
produces

[code]

which is wrong. Admittedly, the field declaration does not make much sense.

Also

[code]

produces

[code]

which is wrong too. This field declaration is a big dodgy as well.

Those are corner cases that might happen, perhaps, in some complex inheritance scenarios.

apispec s

[2018-04-10 02:36] sloria commented on #32
I hadn't thought about it that way, but you're correct--`missing` is the correct thing to check when introspecting fields.

[2018-04-10 02:40] #32 closed, assigned to nobody

[2018-04-10 02:43] sloria commented on #137
This has been fixed on `dev`.

[2018-04-10 02:43] #137 closed, assigned to nobody

[2018-04-10 02:47] sloria commented on #196
Ah, that makes sense. Good catch. I think your proposed `default_doc` parameter is a fine approach.

[2018-04-10 13:11] lafrech commented on #196
There is no way to document a dynamic default: https://github.com/OAI/OpenAPI-Specification/issues/554.

What we should do is allow the user to opt-out of default documenting. Then he can either specify the default behaviour in the description or add a `x-something` attribute.

So we need an attribute meaning "don't document default". `default_doc` is not really a good name for that.

From the dis

[2018-04-10 13:56] lafrech commented on #196
On second thought, since a callable could be anything, it could be smarter to not document them. There is no reason the value returned by the callable at documentation time makes sense in this context.

An exception to this would be basic types that are provided as callables to avoid the "same list instance in every field instance" issue. Those are common enough to justify an exception to the rule

[2018-04-10 20:03] lafrech commented on #181
@mathewmarcus I've had a quick look at it today. I think the second option is reasonable.

It is not *that* verbose.

Those three calls could reduce to only two. Besides, if I understand correctly, the purpose of the flask helper is to parse the YAML, so you don't need to pass the whole operation descriptions, only the method names, right?

[code]

Regarding @dankolbman's question about `GET`, I h

[2018-04-13 16:01] datadidit opened #200 "Using Marshmallow Version 3 causes AttributeError when you follow the docs"
I believe the code causing the issue is below and this should be a simple fix

[code]

Example Test
[code]

Stacktrace:

[code]

[2018-04-13 16:05] datadidit commented on #200
Note I've also been unable to get this to work when adding a data_key

[2018-04-13 16:35] datadidit commented on #200
For anyone else who runs into this issue it's fixed by upgrading to 3.0.0b8 I was on 3.0.0b6 when I got the error.

[2018-04-13 17:25] datadidit commented on #200
Made fix https://github.com/datadidit/apispec/commit/7741ab9e9d70d2308eaadb59462630c9204a9388

Having issues with 2 tests that i need to investigate all other tests work fine.

[2018-04-13 19:27] lafrech commented on #200
We don't mean to support old beta versions. As long as marshmallow 3 goes through the beta cycles, we try to keep apispec and other libs up to date. When a new beta version is out, users are supposed to move to the new beta.

Ultimately, apispec should support latest marshmallow 2 and latest marshmallow 3. Until support for marshmallow 2 is removed (not planned yet).

Thank you for using marshmall

[2018-04-13 19:27] #200 closed, assigned to nobody

[2018-04-13 20:31] datadidit commented on #200
@lafrech Thanks for the feedback. Learned a bunch looking through yalls code so time not all the way wasted lol

[2018-04-24 01:09] mathewmarcus commented on #181
@lafrech on the contrary, that definitely clears things up. And I agree that separating the routes into two `MethodView`s clarifies things. I only mentioned the single `MethodView` example because it was in the Flask docs.

In any case, I can move ahead on the second option.

[2018-04-28 19:49] frol commented on #119
Ooops. Any progress here?

[2018-05-04 10:43] UrKr opened #201 "Why doesn't Marshmallow Dict field resolve to additionalProperties?"
Any Dict field in a schema seems to resolve to just 'type': 'object' in the spec output. Why not to additionalProperties?

[code]

the yaml output for:
`
spec.definition('A', ASchema, schema=ASchema)
`
is this:
`data: {type: object}`
Why not this:
[code]

[2018-05-04 12:23] lafrech commented on #201
`keys` and `values` were added in marshmallow 3 and are not yet documented by apispec. Indeed, it would be nice to have them documented.

Not sure how that would look like, though.

(Thinking out loud.) In marshmallow, keys can be anything, including stuff that would generate wrong JSON. (I mean can you use arrays as dict indexes in JSON? I guess not.) It is fine if we ignore pathological cases. I

[2018-05-04 12:36] UrKr commented on #201
Yes, I suppose it would only have to work with string keys. Though the `keys` value could actually just be ignored, no?

Are you taking pull requests for this? I don't have one ready or anything, I would have to look at the code and see what I can do. Is there any other ambiguity apart from the keys? Naively, I would think it's just a matter of adding additional `Dict` field handling.

[2018-05-04 12:49] lafrech commented on #201
Yes, I suppose we can ignore `keys`.

We welcome PRs. When the change involved is a bit tricky, it can be better to discuss it here before actually working on it, to avoid the frustration of seeing the PR not merged.

From this [SO post](https://stackoverflow.com/questions/41239913/why-additionalproperties-is-the-way-to-represent-dictionary-map-in-swagger-ope), it seems your fix is correct, so it'

[2018-05-07 00:00] asyd opened #204 "Issue with a simple aiohttp docstring"
Hello folks,

I'm trying to document an aiohttp API in a very simple way, here my code:

[code]

However, here the response:
[code]

As you can see, the docstring from hello function is not parsed, so I'm wondering what I missed

Just in case:

[code]

[2018-05-07 10:16] lafrech commented on #201
Fixed in #202.

[2018-05-07 10:16] #201 closed, assigned to nobody

[2018-05-07 21:51] lafrech opened #206 "Make spec mandatory parameter to ext/marshmallow/swagger.py functions"
(See https://github.com/marshmallow-code/apispec/pull/197#discussion_r179862048)

Most functions in swagger.py take an optional `spec` attribute, either to use it or to pass it down to another function. It shouldn't be optional.

Now that version 2 and 3 of the spec are supported, optional sort of means version 2 by default. There is no reason to give priority to a version, so it should be explici

[2018-05-08 22:09] lafrech opened #207 "RFC: Use classes for plugins"
I think things would be simpler if plugins were classes.

I read in the comments that the plugin system is copied on Sphinx. I don't know why Sphinx does it like this, but I don't see the benefit in apispec.

Since plugins are only referred to by their path as string, there is no direct access to them. So their configuration can be a bit awkward:

1/ Mutating a global variable in the plugin file.

[2018-05-08 23:47] sloria commented on #207
I quite like this idea. It would certainly be more ergonomic to to configure plugins at runtime this way.

Honestly, the only reasons I went with Sphinx-style plugins from the start were that Sphinx is a mature library (so users may be accustomed to it) and it was simple to implement. I'm certainly not tied to the approach.

If we went for this, I think I'd prefer if plugins were just an interface

[2018-05-09 07:13] lafrech commented on #207
Good.

If there is no base class, that means each plugin *must* provide the three helpers, even if they just `pass`, or the core must check their existence before calling them.

Passing `spec` is a good idea and so is the use of `init_spec`. In fact, I was wondering how to pass the openapi major version, and passing the whole spec is more future-proof: no need to break the API when a new parameter

[2018-05-09 10:39] lafrech commented on #207
I've been giving it a try. The transition of the plugin into plugin objects is relatively easy.

However, I noticed the `register_*_helper` interface in the core. I didn't realized before it was not limited to plugins. Like, anyone can register a function in there from his code without a plugin file.

If we move to plugin objects, and we store the spec in the plugin objects, we don't want to pass

[2018-05-09 12:35] UrKr opened #208 "Add description to fields of marshmallow generated schema"
Is it possible to add additional fields to OpenAPI schemas generated via marshmallow `Schema`. One example would be descriptions for fields.

[code]
[code]
Currently docstrings on schemas are ignored, correct?

[2018-05-09 17:08] sloria commented on #207
These were originally intended for use within plugins' `setup` functions. Class-based plugins obviate them, so perhaps we remove or deprecate them.

I don't recall if I was targeting a specific use case when I added response_helpers. Perhaps I was planning to add the ability to pass marshmallow schemas as response formats, but I can't be sure. I think passing method and status_code makes sense, th

[2018-05-09 23:19] lafrech commented on #207
Here's what I've done so far: https://github.com/Nobatek/apispec/tree/dev_207_plugin_classes

I'm still uncomfortable with the separation between `ext.marshmallow.MarshmallowPlugin` and `ext.marshmallow.swagger.Swagger` Methods from one object call methods from the other. This was already the case before, hence the circular import issues.

A few swagger tests are broken. The whole test_swagger.py

[2018-05-10 02:19] sloria commented on #207
Just gave your branch a glance, and it looks pretty good so far. I'll try to take a closer look over the weekend.

It'd be great if we could deprecate the old plugin API (rather than remove it) in order to give downstream packages a chance to update. Not sure how much complexity that will involve, though. I'll defer to you on that.

[2018-05-10 15:10] lafrech commented on #207
I added backward compatibility. Of course, any lib using swagger ext functions directly will break, but it is still possible to add plugins by their path as string, and to pass `schema_name_resolver` to `spec`. Deprecation warnings still to be added.

[2018-05-10 15:19] sloria commented on #207
Awesome. Looks like [flask-apispec uses the `swagger` module](https://github.com/jmcarp/flask-apispec/blob/82992d264e9da77d6a93d3fe01b89a9f2a80f56d/flask_apispec/apidoc.py#L64), so that will need to be updated. Are you just moving those functions to `apispec.ext.marshmallow`?

Also, do we want to allow passing string paths to the new plugin classes?

[code]

Could be convenient for the common use

[2018-05-10 19:46] lafrech commented on #207
No. I'm cramming them into a `Swagger` class (or `OpenAPIConverter`, or any better name). This class has attributes:

- list of schema references (or should it be in `MarshmallowPlugin`?)
- openapi version

This indeed breaks code that uses functions from swagger.py file, such as `flask-apispec` or our `flask-rest-api` but hopefully, it should be an easy fix: just instantiate the class and use it.

[2018-05-10 21:33] lafrech commented on #207
With the latest commits, it is now clearer why the use of classes is nice. No `spec` object being passed all the way in swagger functions and openapi version accessible by each swagger conversion function. The job is not done yet, though (TODO list above updated).

test_swagger.py test functions tests are broken. We need a fixture to create the plugin objects and the spec. I didn't try to fix thos

[2018-05-10 23:41] sloria commented on #207
Sounds good. I buy your arguments for avoiding the string imports. YAGNI. Or--more accurately--WWdD (What Would @deckar01 Do?).

[2018-05-10 23:44] lafrech commented on #207
I fixed the failing tests. There's probably still room for improvement.

~Also, totally unrelated, I added a pytest flag (`--skip-node`) allowing to skip node tests. Sometimes I want to run tests and I don't have node installed, and the two failing tests clutter the terminal output. I can remove this and/or discuss it in another PR. The flag defaults to False and does not affect CI tests.~ Edit: I

[2018-05-11 01:13] cvlong opened #209 "Resolve an array of schema objects in parameters"
I see that the marshmallow plugin currently resolves an array of schema items in the response, but is there existing functionality to also do this in the request?

I'd like to be able to define my request parameters a docstring like this:

[code]

So that `['parameters'][0]['schema']` will produce more explicit results like `{'type': 'array', 'items': {'$ref': '#/definitions/Schema'}}` rather than

[2018-05-11 13:30] lafrech commented on #207
Pushing [branch](https://github.com/marshmallow-code/apispec/tree/dev_207_plugin_classes) to this repo to get CI tests. All tests pass except `check_api` validation. I'll investigate when I get the time.

@lebouquetin, @inkhey, this change impacts schema autoreferencing code. Also, the way to pass the schema name resolver callback would be modified. Feedback welcome.

[2018-05-13 21:17] sloria commented on #208
There isn't a way to add additional properties to schemas right now. Docstrings don't have an effect on the output.

I'm open to adding support for it. Should description automatically be set to the content of the docstring, or should it be specified in YAML?

[2018-05-14 01:23] sloria commented on #209
Good catch @cvlong . I wrote a quick-n-dirty test to check this...

[code]

And it indeed fails.

[code]

I would definitely review and merge a PR for this.

[2018-05-14 03:45] cvlong commented on #209
Thanks @sloria. Here's a first stab at the PR: https://github.com/marshmallow-code/apispec/pull/211 let me know what you think about generalizing the function to handle arrays defined in `parameters` or `responses`.

[2018-05-14 09:26] lafrech commented on #165
OpenAPI 3 adds `TRACE` method (https://github.com/OAI/OpenAPI-Specification/commit/c306532e657fbbae1c55d337ce62acc571ce30db).

- [x] Complete [VALID_METHODS](https://github.com/marshmallow-code/apispec/blob/ea55ad0463b7fe6039d5e6507254682fd3ffdbb3/apispec/core.py#L13). If we want this to depend on OpenAPI version, we can make it an attribute of `Path`. Or declare both `VALID_METHODS_OPENAPI_v2` an

[2018-05-14 15:51] sloria commented on #165
I don't a strong preference either way, but adding `valid_methods` as a property on `Path` seems like better encapsulation.

[2018-05-14 21:31] #209 closed, assigned to cvlong

[2018-05-16 07:03] KPilnacek opened #212 "Recursive dependency causes RecursionError"
Hello,

at first thanks for this package 👍. I saves me a lot of effort with docs 🙂 .

I have a schema as follows
[code]
 and everything works as expected, however, my data have tree structure with possibly infinite recursive depth (in reality about 2 - 3 levels are more than enough). Thus, I need to remove the `exclude` parameter. In that moment, the docs fails to render due to `RecursionError` (I

[2018-05-16 07:54] lafrech commented on #212
Can't look at it right now but it should be feasible to avoid the `RecursionError` without defining a limit.

[2018-05-16 10:59] KPilnacek commented on #212
Thanks for looking into that eventually. No hurry, I just used the old version 🙂

[2018-05-16 21:05] lafrech commented on #165
In OpenAPI 3, parameter objects are modified: [v2](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#parameter-object), [v3](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#parameter-object).

- [x] In v2, `body` is a special case, and the parameter definition contains a schema, while for other types, `type`, `format`,... are exposed directly. In v

[2018-05-16 23:19] lafrech commented on #207
I think I'm getting close to it.

A few points remain open to discussion:

- ~Rename `Swagger` to something more meaningful and up-to-date like `OpenAPIConverter`~
- ~Decide which format to use to pass the OpenAPI version to `Swagger` object (`string`, `distutils.version`, tuple,...)~
- ~Decide whether or not to provide a base class for plugin classes~

And a few things to do:

- ~Check tests / ad

[2018-05-20 01:18] ergo opened #214 "Support Pyramid Framework"
Hi,

I've needed to support Pyramid so I wrote extension for inspecting views in a pyramid way (not requiring global objects). I've created PR https://github.com/marshmallow-code/apispec/pull/213 with everything necessary.

[2018-05-21 10:56] tshuval opened #215 "Bottle plugin path regex bug when using argument type in the url"
When parsing the path of a bottle app in the form: `/path/to/<resourceId:int>`, the generated API path becomes `/path/to/{int}`.

reproduce:

    import re
    RE_URL = re.compile(r'<(?:[^:<>]+:)?([^<>]+)>')
    path = '/path/to/<resourceId:int>'
    RE_URL.sub(r'{\1}', path)  # --> '/path/to/{int}'

This can be fixed easily by replacing RE_URL with: `re.compile(r'<([^:]+)(?::.+)?>')`

[2018-05-22 00:47] sloria commented on #214
See my comment in https://github.com/marshmallow-code/apispec/pull/213#issuecomment-390827813 . In the interest of keeping this library easy to maintain, we've stopped adding new plugins to this repo. New plugins should be maintained as separate packages. Really cool to see you've got it working!

[2018-05-22 00:47] #214 closed, assigned to nobody

[2018-05-22 00:48] sloria commented on #215
Thanks for reporting @genbits .

We would definitely review and merge a PR fixing this.

[2018-05-27 18:10] b0g3r opened #218 "Add recursive merging in APISpec.to_dict"
In Open API spec 3.0.1 `securityDefinitions` was renaming and moved to `components`

APISpec class allowed add additional fields to swagger file with kwarg-parameter `options`. I try add `components` with security definition to kwarg, but this rewrite schema definitions (in swagger 3.0.1 schema definitions also in `components`)

Currently in [APISpec.to_dict](https://github.com/marshmallow-code/ap

[2018-05-27 18:10] b0g3r commented on #218
May be linked with https://github.com/marshmallow-code/apispec/issues/165

[2018-05-27 22:05] sloria commented on #207
+1. I think `OpenAPIConverter` is a fine name.

I think a string would be the most user-friendly, but I suppose that would mean that the version would have to be parsed in many different places, which could be a pain. I delegate to you on that decision.

This is a matter of taste. I have seen a few recent examples of "interface sans inheritance" in the wild (e.g. [Falcon](https://falcon.readthedoc

[2018-05-27 22:10] lafrech commented on #207
I was about to leave it as `Swagger`. I can do the renaming. And change the file name accordingly.

I introduced an `OpenAPIVersion` object that is supposed to make this easier. I'm not a fan of distutils `LooseVersion`. Semantic versioning can be complicated. I thought about adding a dependency to a semver parsing library, but I figured that `OpenAPIVersion` object was enough for the moment.

OK,

[2018-05-27 22:17] lafrech commented on #207
Also, I'm not perfectly happy about the plugin initialization. I introduced a `init_spec` mechanism "à la Flask" but still, the init is sort of a chicken and egg situation.

A plugin is instantiated then passed to the spec object, and then the spec object is passed to the plugin's `init_spec` method. Between `__init__` and `init_spec`, the plugin is in a broken state because it has no spec object.

[2018-05-28 12:57] sloria commented on #207
Hm, I don't think you need handle malformed plugin instances that don't have a spec. Unlike Flask plugins, users should not need to use plugin instances after they are instantiated. In fact, users shouldn't have to call `init_spec` themselves.

[code]

[2018-05-28 13:08] lafrech commented on #207
I added a commit to provide a `BasePlugin` class. I think it looks better this way.

However, it revealed an unrelated issue affecting response helpers. Looks like the `description: some data` string in the test docstrings is not correctly parsed into a dictionary (see test failures).

[2018-05-28 13:11] lafrech commented on #207
Yes, I agree. So there is no problem, then. `init_spec` is called automatically when instantiating `ApiSpec` with the plugin instance.

[2018-05-29 12:39] seeb0h opened #220 "Unable to document json fields"
I am using apispec with marshmallow and flask.

I would like to produce an openapi json with documented fields for my json request. Like [here](https://rebilly.github.io/RebillyAPI/#/paths/~1contacts/post) (`customerID` => "The contact customer ID"):

I can't find a way to do it in the documentation and examples. Is there with a specific docstring to add in my marshmallow schemas ? Which one ?

Th

[2018-05-29 13:01] lafrech commented on #220
If I understand correctly what you want to do, all you need is to add a `description` attribute to your field.

[code]

[2018-05-29 13:16] seeb0h commented on #220
I cannot find this arg in [marshmallow API reference ](http://marshmallow.readthedocs.io/en/latest/api_reference.html#marshmallow.fields.Field).

But whatever, it works super fine!

Thanks for your help.

[2018-05-29 14:01] lafrech commented on #220
This attribute is unknown to marshmallow. It is specific to apispec.

You can see it in the example on top of this page: https://apispec.readthedocs.io/en/latest/api_ext.html.

It is also documented here: https://apispec.readthedocs.io/en/latest/api_ext.html#apispec.ext.marshmallow.swagger.field2property.

[2018-05-29 14:01] #220 closed, assigned to nobody

[2018-05-30 16:31] lafrech opened #221 "Issue with tests involving response_helpers due to invalid docstrings"
I was struck by this while working on https://github.com/marshmallow-code/apispec/pull/219. But I think the test failure is not due to the change in the plugin interface.

I wonder how this feature is supposed to work. Maybe a test is missing.

The code in core.py reads:

[code]

I think the issue here is that it assumes `responses[status_code]` is a `dict`, which it may not be. In this example, i

[2018-06-04 21:24] Bangertm commented on #221
I think it's a bad test.  Add a space after the colon on [this line](https://github.com/marshmallow-code/apispec/commit/5139b89fd4131442e89992b3d6bc1b05d6360a2a#diff-2fcd5a46b0e40f462c4432126ad63de7R144) and the test will pass.

The original test produces the following swagger with a string instead of an object following the 200 response: `"200": "description:some data"`

[code]

Adding the space

[2018-06-04 21:36] lafrech commented on #221
Wow, thanks. I could have been searching for a long time...

I fixed the docstrings in my rework branch (see https://github.com/marshmallow-code/apispec/pull/219) and now all tests pass.

Leaving this open until the rework PR is merged, but since it is not critical to `dev` I'd rather wait for that rather than fix in `dev` to avoid useless merge/rebase issues.

[2018-06-06 09:17] lafrech commented on #221
I changed my mind and fixed it in `dev` branch (https://github.com/marshmallow-code/apispec/commit/82299c2b7769ba2fe51d5bb4252567159cbbbf29).

This and another issue:

[code]

Thanks again @Bangertm for the help on this.

[2018-06-06 09:17] #221 closed, assigned to nobody

[2018-06-06 16:01] fMeow commented on #218
I have propose a PR #222 on this issue.

However, I don't think it necessary to recursively update components object. Instead, this issue just happens because apispec would generate a `components` object with `schemas` and `parameters`.

And a simpler way is to merge `schemas` and `parameters`, while **copying all other fields** like 'securitySchemes`.

[2018-06-06 16:13] fMeow commented on #208
For description for fields, just pass a keyword arguments like this:
[code]

As for description for schemas, there may be a better way to do this. For example, when a schema is defined in a parameter, there is no need to assign a description for the schema. Instead, it is the parameter object that has a description.

Some examples:
- definition
[code]
And the code above yields following result:
[c

[2018-06-10 16:27] sloria commented on #218
This is addressed by #222.

[2018-06-10 16:27] #218 closed, assigned to nobody

[2018-06-10 16:28] sloria commented on #208
As @Guoli-Lyu pointed out, you can document individual fields by passing the `description` argument to them.

@UrKr Do you have a use case for adding descriptions to whole schemas?

[2018-06-12 12:16] timakro opened #226 "Marshmallow schema: Swagger-style inheritance"
Currently when a marshmallow schema is inherited and registered on the specification the fields from the parent are just copied. I suggest to use `allOf` for inheritance like documented [here](https://swagger.io/docs/specification/data-models/inheritance-and-polymorphism/).

[2018-06-12 15:20] timakro commented on #226
If this doesn't get implemented you can use my plugin [apispec-swaggerinherit](https://github.com/timakro/apispec-swaggerinherit) to achieve this.

[2018-06-13 16:05] timakro opened #227 "Add support for `summary` and `description` fields for paths"
Documented [here](https://swagger.io/docs/specification/paths-and-operations/):

[2018-06-14 17:59] brunoais commented on #227
I don't get what you mean. What kind of support from apispec is needed for that?

[2018-06-15 18:03] timakro commented on #227
[This check](https://github.com/marshmallow-code/apispec/blob/56b12fbb85224fc93284032986a55c8fa3d1168c/apispec/core.py#L76-L78) prevents you from using them.

[2018-06-15 18:05] brunoais commented on #227
That check only checks for HTTP methods and not what you describe above.
What you describe above is nested inside the HTTP method

[2018-06-15 18:10] timakro commented on #227
`summary` and `description` are also allowed for paths:

[code]

[2018-06-15 18:15] brunoais commented on #227
Oh, right. I forgot about the 3rd version of the spec. I suppose they saw no one would use such as methods.
I hadn't notice [it's here](https://swagger.io/docs/specification/paths-and-operations/#operations) got it.

[2018-06-18 01:25] sloria commented on #227
Thanks for reporting @timakro .I would certainly review/merge a PR for this.

[2018-06-19 14:42] Chris2048 commented on #55
Hi, Can you explain to me the part of this fix:

    is_unbound_self_referencing = not getattr(field, 'parent', None) and field.nested == 'self'

How might a self-referencing Nested field be 'bounded'?
Is the test for a parent is the same as a test for being an instance of SchemaABC (top-level abs baseclass)?

I am getting a MaxRecursion error on a self-referencing Nested field. This is fixed by a

[2018-06-21 13:59] Chris2048 commented on #212
Is this ticket already covered by the aim of https://github.com/marshmallow-code/apispec/issues/212 ?

[2018-06-21 14:04] lafrech commented on #212
@Chris2048, I tried to follow your link and got a... `RecursionError`.

[2018-06-21 14:40] Chris2048 commented on #212
Whoops :-D

Should be https://github.com/marshmallow-code/apispec/issues/55

[2018-06-21 14:51] Chris2048 commented on #55
oooh, I think I see now - it if you supply a definition via:

    spec.definition('foo', schema=FooSchema)

It will then be a "top-level" object since it has its own definition.
Then the name ('foo') is used to fill in the ref.

Is it possible to raise an exception when the object is self-referential but *not* top-level?
i.e."Self-referencing schema must provide named definition".

Incidentally, w

[2018-06-24 11:27] ergo commented on #181
I think I had similar problem in pyramid, maybe the code I used there could help?

https://github.com/ergo/pyramid_apispec - one can register same view with different conditions for introspection.

[2018-06-28 11:53] #207 closed, assigned to lafrech

[2018-07-04 12:47] TheGrandmother opened #234 "`to_yaml` and `validate_spec` fails when using the `BasePlugin`"
I get a `AttributeError: 'Path' object has no attribute 'items'` when I try to use the `to_yaml` on a spec that uses a `BasePlugin` to handle path docstrings.

I am running apispec version 0.39.0 and python version 3.6.5

This is the little plugin that I'm using (from the docs):
[code]

The path handler function looks like this:
[code]

And this is the part where I generate the the spec:
[code]

I

[2018-07-04 13:31] lafrech commented on #234
Thanks for reporting.

This is unrelated to `BasePlugin`. I can reproduce with this simple code:

[code]

`git bisect` pointed the culprit, which is a commit of mine...

Since https://github.com/marshmallow-code/apispec/pull/190 was merged (released as 0.34.0), `Path` does not inherit from `dict` anymore, hence the error.

AFAIU, this should be fixed by modifying `core.py`:

[code]

When testing t

[2018-07-05 13:26] lafrech commented on #234
OK, I got a better understanding now. The fix above is wrong. There should be no `Path` in the spec `dict` at this stage.

The path helper should be modified like this to let the code succeed:

[code]

The problem is that when instantiating a `Path` with a `Path` instance as `path` parameter, it just stores is as a `Path` instance.

This could be fixed with a simple change do `Path`:

[code]

Or w

[2018-07-05 13:32] TheGrandmother commented on #234
Changing it to:
[code]
Fixes it for me!
Thanks <3

[2018-07-06 19:57] lafrech commented on #234
I tried to address issues in https://github.com/marshmallow-code/apispec/issues/234#issuecomment-402721071 in those refactor PRs:

- https://github.com/marshmallow-code/apispec/pull/237
- https://github.com/marshmallow-code/apispec/pull/238

[2018-07-08 15:08] loganasherjones opened #239 "Feedback on error message"
Hello. I had a strange bug that caused me a lot of frustration. This may be solved by the new plugin work you've been doing but here is my setup:

1. apispec - v0.38.0 (I'm doing something weird and haven't fixed it to update yet)
2. Using tornado

I was intermittently failing when calling `add_path`. The error I was getting was:

[code]

The core problem was, I had a method definition as the foll

[2018-07-10 15:00] TheGrandmother commented on #208
I can't find any information about this in the documentation.
Is it just me being bad att googling or is it really missing?

[2018-07-10 15:10] lafrech commented on #208
@TheGrandmother, Field metadata passed to the doc is documented [here](https://apispec.readthedocs.io/en/latest/api_core.html#module-apispec) (the Note that says "_If you are using `apispec.ext.marshmallow`, you can pass fields’ metadata as additional keyword arguments._"). Indeed, it is a bit hidden in the docs, and we could add an example using `description='Description string'`.

Looks like we

[2018-07-10 15:20] TheGrandmother commented on #208
@lafrech Yes some kind of example or pointer in the right direction in the docs would be very . I couldn't really find anything in the marshmallow docs about what the `metadata` argument even was. In the [Fields](https://marshmallow.readthedocs.io/en/3.0/api_reference.html#module-marshmallow.fields)
 section it just says:

- **metadata**  Extra arguments to be stored as metadata.

Which doesn't sa

[2018-07-10 15:57] UrKr commented on #208
Yes, when I posted this question I didn't know that something like this would work:
[code]
This solved the problem for me.

[2018-07-15 21:17] #234 closed, assigned to nobody

[2018-07-16 09:23] lafrech commented on #239
Indeed, I don't think we can do much about this.

The Plugin interface doesn't swallow the `TypeError` so once you update, the situation will be different and hopefully easier to debug.

Please reopen if you're still stuck, then.

[2018-07-16 09:23] #239 closed, assigned to nobody

[2018-07-16 09:35] lafrech opened #245 "Create methods to register all component objects"
Currently, definitions can be registered to be referenced to in the spec.

The spec allows to register other objects like parameters or responses.

OpenAPI 3: https://swagger.io/specification/#componentsObject

Some of them also exist in OpenAPI 2. Search for "Swagger Object" in https://swagger.io/specification/v2/.

We'd rather get this right with all those objects in mind rather than address the

[2018-07-16 12:56] lafrech opened #246 "Refactor: remove MarshmallowPlugin.path_helper, make YAML optional,..."
We have two types of plugins:

- web framework plugins:
  - get path from view object (with a [limitation to one path per view](https://github.com/marshmallow-code/apispec/blob/dev/apispec/ext/flask.py#L107) in Flask, see #181)
  - populate `operations` with info parsed from YAML docstrings

- marshmallow plugin
  - populate `operations` with info parsed from YAML docstrings
  - resolve marshmallo

[2018-07-16 13:00] sloria commented on #119
I don't have time to deep-dive into this in the near future, but PRs definitely welcome. Would be great to resolve this before 1.0.0.

[2018-07-16 13:14] lafrech commented on #212
Sorry @KPilnacek, I didn't have the time to look into this. AFAIU, the only clean way around this is to use a definition so that the schema can be replaced by its reference. This is not an apispec limitation.

Do you define a reference to `OneDataPointSchema` in your code?

I didn't understand everything about the fix @Chris2048 points to but it looks like it was meant to solve your use case.

If

[2018-07-16 13:28] lafrech commented on #166
How would you represent that information in the spec? Is there anything in OpenAPI spec defining how to describe custom validators?

If there is no specific place for that defined by the spec, then you could add it to the description field. In this case, you might as well do it manually, I don't think apispec can be of much help.

[2018-07-16 13:28] sloria commented on #246
I am open to this. I agree that the `path_helper` in `MarshmallowPlugin` is a bit smelly.

+1.

I haven't given much thought as to how this might break existing usages. Are you suggesting that we could keep the current behavior (order doesn't matter) if we moved some the framework plugins' path helper logic to an operation helper?

[2018-07-16 13:31] lafrech commented on #206
Closed by https://github.com/marshmallow-code/apispec/issues/207.

[2018-07-16 13:31] #206 closed, assigned to nobody

[2018-07-16 13:42] lafrech commented on #246
Thanks. I might give it a go, then.

No, just the opposite. Moving the operations logic in a separated operation helper, assuming it is feasible, would break order independency. What I'm saying is that I don't think it is that bad that the order matters. Currently, it works just because the work on operations is done in path helpers which is kind of cheating.

It is not guaranteed to work with cus

[2018-07-16 13:49] sloria commented on #246
Oh ok, I see now. Fine by me.

[2018-07-16 15:22] KPilnacek commented on #212
@lafrech no problem, thanks for responding anyway 🙂 . Honestly, I'm lost in these reference thinks. I tried to replace the `'self'` with `'OneDatapoitSchema'` as I understood from the [other issue](https://github.com/marshmallow-code/apispec/issues/55#issuecomment-203644221), however, it did not help. The rest, which was posted by @Chris2048 , I didn't get. So I'm still stucked 🙁 .

Anyway, the mi

[2018-07-16 15:29] lafrech commented on #196
I'd like to tackle this.

Using the callable's return value to fill the doc default is wrong, so removing this would be a bugfix. Besides, it is not tested, so no test broken. **Edit**: My bad, it is tested in `test_ext_marshmallow.py`.

I wanted to make an exception for `list` and `dict` and their subclasses, but even including subclasses is wrong, as some subclasses might do weird stuff. But we

[2018-07-17 12:48] TheGrandmother opened #250 "Field that is subclass of `fields.Int` gets `{type: string}` in the generated yaml."
Rolling Python: 3.6.5, marshmallow: 3.0.0b11 and apispec: 0.39.0

I have created a custom field like this:
[code]

And i then use it like this:
[code]

And I then add the definition and generate the specs with `to_yaml()` but then it says:
[code]

This confuses me since the field works as expected otherwise and it will fail the validation will fail if i pass anything but an integer > 0 to the `uui

[2018-07-17 13:26] lafrech commented on #250
You should register your custom `Field` first.

https://apispec.readthedocs.io/en/stable/api_ext.html#apispec.ext.marshmallow.MarshmallowPlugin.map_to_openapi_type

[code]

[2018-07-17 13:27] TheGrandmother commented on #250
Thanks!
I had no idea :3

[2018-07-17 13:35] #250 closed, assigned to nobody

[2018-07-18 02:04] #196 closed, assigned to nobody

[2018-07-18 10:24] TheGrandmother commented on #250
Hmmm....
this does not seem to be working actually.
Using, as per the documentation:

[code]
I get a: `AttributeError: 'str' object has no attribute 'openapi'` exception.
 With the following partial stack trace:
[code]

[2018-07-27 19:41] lafrech commented on #246
PR #249, #251, #253 cover most of this.

The part I did not address is this one:

I probably won't do it. I don't even use those plugins. We don't have to do that for 1.0.

[2018-07-27 20:06] lafrech commented on #204
Looks like you need to define a simple aiohttp plugin.

I didn't try but it could be just that:

[code]

Note: If https://github.com/marshmallow-code/apispec/pull/251 gets merged, it should look more like this, but the idea is the same:

[code]

You could go further and add a `path_helper` method to the plugin to get the path from the decorated `home` function, if this is feasible (I don't know ai

[2018-07-27 20:17] lafrech commented on #169
This is a complicated design choice. Indeed it can be misleading to accept instances but resolve on the class. Maybe resolving on instances wouldn't make things worse.

The issue with resolving by instance is that if you use a schema with the same modifiers in multiple places, it won't be the same instance (unless you instantiate it once and re-use the instance) so the definition resolving won't w

[2018-07-27 20:19] lafrech commented on #166
Closing this for now. Please comment/reopen if you have more info.

[2018-07-27 20:19] #166 closed, assigned to nobody

[2018-07-27 20:25] lafrech commented on #154
Closing for now.

This is not supported. However, you could create a custom Plugin that would do that. The tricky part is to access the json schema instance from its name as string.

Something similar is achieved by marshmallow and `MarshmallowPlugin`.

[2018-07-27 20:25] #154 closed, assigned to nobody

[2018-07-27 20:28] lafrech commented on #119
There are three possible cases:
- Load only: parameter schema
- Dump only: response schema
- Load and dump: definition

A boolean `dump` parameter is not enough. We need either two parameters or a tri-state parameter. I don't mind either way.

Anyone willing to tackle this?

[2018-07-29 16:10] #208 closed, assigned to nobody

[2018-07-30 00:44] sloria opened #257 "Separate path_helper and operation_helper logic in web framework plugins"
From #246:

[2018-07-30 00:44] sloria commented on #246
OK, thanks for the update @lafrech . No problem about that last issue. I've moved it to #257. I agree that we can defer it.

[2018-07-30 00:44] #246 closed, assigned to nobody

[2018-08-02 14:47] lafrech opened #261 "Parse views docstrings for summary/description"
Following up on a discussion in flask-rest-api: https://github.com/Nobatek/flask-rest-api/pull/3.

A contributor suggested to parse the docstrings for `summary`. I think we can go further and also get `description`:

[code]

This could be done in apispec and it is compatible with the YAML docstring parsing:

[code]

I didn't take much time to look into it any deeper.

Marking as 1.0 as I would lik

[2018-08-02 16:50] lafrech commented on #261
On second thought, apispec does not need this as summary and description are passed in the YAML section. My bad.

Yet, I'd still like to do this before 1.0:

[2018-08-02 20:43] lafrech commented on #261
Closing in favor of https://github.com/marshmallow-code/apispec/pull/262. Sorry for the noise.

[2018-08-02 20:43] #261 closed, assigned to nobody

[2018-08-03 09:53] ekhaydarov opened #264 "Methods require docstrings"
Docstrings are generally reserved for usage of the actual class/function. It does not seem like having another style of declaration taking over the docstrings pattern. Is it possible to actually complete a spec instantiation without the docstrings?

[2018-08-06 02:44] sloria commented on #264
You are not required to use the docstring-parsing feature. apispec will ignore "normal" docstring text. You can instead build your spec within code, which is what other libraries such as flask-apispec do.

[2018-08-06 02:44] #264 closed, assigned to nobody

[2018-08-17 07:30] hitoantrinh opened #270 "Help support "x-" specification Extensions (v3) || swagger Extensions (v2)"
Hi,

Currently, I am using apispec version 0.39.0 to export JSON for ReDoc but when I use "x-logo", the program reported an error.

Thanks !``

[code]

[code]

[2018-08-17 13:51] lafrech commented on #270
`x-logo` is not a valid parameter name.

Workaround:

[code]

Or better (why use `dict` anyway ?)

[code]

[2018-08-19 21:28] #270 closed, assigned to nobody

[2018-08-22 13:47] lafrech commented on #245
For instance, https://github.com/marshmallow-code/apispec/commit/3556849f815d42e28f84ee60cc518af00c988cc1 added the possibility to pass parameters a while ago.

We'd need to either do the same with each component type (response, security, etc.), or create a single method to manage them all. Since it's less than a ten of them, a method for each is reasonable. Besides, it makes it easier to do step-

[2018-08-22 14:02] lafrech commented on #245
Currently, existing methods are

- `definition`
- `add_parameter`

It would be nice to have consistent naming.

Should it be

- `definition`, `parameter`,...
- `add_definition`, `add_parameter`,...
- `register_definition`, `register_parameter`,...

Or a generic `register_component` method that accepts a type as first argument?

[2018-08-22 14:33] lafrech commented on #227
This could be done by passing those as `add_path` kwargs:

[code]

This could conflict with plugin helpers using kwargs with the same name (unlikely).

User should be consistent if calling `add_path` several times for the same path.

[2018-08-22 15:04] lafrech commented on #172
This happens in `OpenAPIConverter.field2property`.

There is currently no way to extend this method.

As a workaround, you could make your own `OpenAPIConverter` child class and override `field2property`, then override `MarshmallowPlugin` to use it. This implies a lot of duplication in `field2property`, so it is far from perfect.

A better solution would be to let the user specify `field2property`

[2018-08-23 03:50] cancan101 commented on #100
To make tracking down the cause of this error easier, I would suggest logging out the class causing the issue. In my case it was a ModelSchema with a `field` containing a name that was no longer in the model.

[2018-09-04 17:18] lbeaufort opened #278 "Use 'yaml.safe_load' in 'load_yaml_from_docstring'"
Hi there! 👋Thanks for providing a great project.

Because `yaml.load()` has [known security issues](https://github.com/yaml/pyyaml/pull/189), would it be feasible to use the existing `yaml.safe_load()` option instead of `yaml.load()` [here](https://github.com/marshmallow-code/apispec/blob/dev/apispec/yaml_utils.py#L49) for `load_yaml_from_docstring`? I'm happy to put in a PR if you agree. It looks

[2018-09-06 13:43] sloria commented on #278
Thanks for the report!

I think you're right re: using `safe_load()`. I'd certainly review and merge a PR for this.

If you don't have time right now, I can take a look this weekend.

[2018-09-06 14:10] lafrech commented on #278
Sorry, I had a look the other day because we had a warning from pyup.io/safety-ci and forgot to comment here.

Here's my understanding (can be incorrect / incomplete):

pyyaml has had two ways to load yaml docstrings for a while, the _normal_ and the _safe_. The _safe_ is meant to be used when loading yaml strings from unknown sources, because the _normal_ allows code injection. Since users overlo

[2018-09-06 17:36] sloria commented on #278
Good points, @lafrech . @lbeaufort Do you know if there are trade-offs with using `safe_load` vs. `load`?

[2018-09-06 23:52] lbeaufort commented on #278
Thanks for your replies, @sloria and @lafrech. Everything I've read has indicated that it's best to use `safe_load` when possible, but I'm far from an expert on arbitrary code execution. I'm not aware of any trade-offs with using `safe_load`, but I'm not as familiar with your project. I defer to your judgement, and am happy to put in a PR if that's what you decide to do.

[2018-09-07 01:20] sloria commented on #278
From my quick search through the issues @lafrech posted and some other sources, there doesn't appear to be any downside to using `safe_load`. In practice, it shouldn't make much of a difference since we're not loading data from external sources, but it doesn't hurt to be too safe in this case.

@lbeaufort Would you like to send the PR?

[2018-09-07 08:26] lafrech commented on #169
Resolving on class is wrong because it ignores instance modifiers.

Resolving on instances means one would need to register an instance and then reuse that instance in its views. I don't see a elegant way of doing this. We may end up with code like this:

[code]

Then refer to that `pet_load_schema` instance in the code / docstrings.

I don't see a nice way of doing this, but I'm open to suggestio

[2018-09-07 09:34] lbeaufort commented on #278
@sloria sounds good! I will put one in today.

[2018-09-08 22:46] #278 closed, assigned to nobody

[2018-09-10 13:04] lbeaufort opened #282 "Use `openapi-spec-validator` for version 2 as well?"
Hello!

While testing the latest version of `validate_spec` on our project, I came across an issue with validating OpenAPI spec v.2. It [looks like `openapi-spec-validator` is only being used for OpenAPI version 3](https://github.com/marshmallow-code/apispec/blob/dev/apispec/utils.py#L33-L34), so `prance` is falling back to using the [default `flex` validator](https://github.com/jfinkhaeuser/pranc

[2018-09-18 15:14] andho commented on #68
@tinproject I noticed that your swagger.json is for the specific blueprint. Do you have a swagger.json for each blueprint?

[2018-09-18 17:48] andho opened #288 "FlaskPlugin fails if FlaskInjector is injecting into a view"
Because FlaskInjector wraps the view function in yet another "decorator" the view passed into `add_path` is not `==` to the view retrieved from `current_app.view_functions`. The failure occurs only for views that need injection (an argument in the function signature that's not a path parameter).

If there is a workaround for this that would be great.

For a long time solution, maybe allow to add_p

[2018-09-18 19:27] lafrech commented on #288
You may subclass `FlaskPlugin` and define a `path_helper` that accepts a `rule` parameter.

[2018-09-18 20:47] tinproject commented on #68
@andho If I remember well I had all my API inside a blueprint, sharing the Flask App with 'normal' web endpoints in other blueprints, but only one blueprint having the whole API.

Nothing avoids you to create the `spec` at the app level and use the `add_paths_for_blueprint` function to add the paths from different blueprints to the spec.

[2018-09-19 07:01] andho commented on #288
Yeah I could do that, but I've decided not to use FlaskInjector and bootstrap the whole thing in the main app file, in kind of a convoluted way, but makes sense to me.

For anyone interested here it is.

In my view module I've defined a function like so:

[code]
This function is imported in the app file and executed and then I used the return values with apispec:

[code]

The first part can actual

[2018-09-19 07:01] #288 closed, assigned to nobody

[2018-09-21 09:57] lafrech opened #293 "Bottle plugin: DeprecationWarning: Switch to Plugin API v2 and access the Route object directly."
I get this warning in the tests:

It comes from Bottle. See https://github.com/bottlepy/bottle/issues/770 for instance.

[2018-09-21 13:42] lafrech commented on #212
@KPilnacek do you think you could provide a minimal example not depending on external libs (flask-apispec, flask-restful)?

[2018-09-21 13:51] lafrech commented on #212
This works (using latest revision in `dev` branch).

[code]

Closing as "can't reproduce".

Please reopen if you can produce a failing test.

[2018-09-21 13:51] #212 closed, assigned to nobody

[2018-10-04 11:34] #293 closed, assigned to nobody

[2018-10-04 11:46] sloria commented on #282
Thanks for reporting this @lbeaufort .

According to [this](https://jfinkhaeuser.github.io/prance/#compatibility), openapi-spec-validator does support both OpenAPI 2.0 and 3.0. The table says that it only supports Python 3, but the [package metadata](https://github.com/p1c2u/openapi-spec-validator/blob/c40cb759d3706a8cd0dc00dc6e0d8704743cae2c/setup.py#L88-L92) indicates that Python 2 is supported.

[2018-10-04 12:09] lafrech commented on #282
open-api-spec does support Python2 and in fact we already use it in the Python2 / OpenAPI v3 case. I notified prance about the doc issue: https://github.com/jfinkhaeuser/prance/issues/25

I see no reason not to use it for both OpenAPI versions. I don't think speed matters.

@lbeaufort, it seems we have a potential issue in apispec, and an issue in one of the two validators (flex or open-api-spec).

[2018-10-04 19:35] lbeaufort commented on #282
Sounds good! It's been a while since I looked at this, but I can test in the next day or so.

[2018-10-04 21:17] lbeaufort commented on #282
I'm stuck on more specifics, but for now in case it's helpful I saved a text file with our json specs that pass validation with `openapi-spec-validator` and fail validation with `flex`. Apologies for the massive file (~3 MB): [spec.txt](https://github.com/marshmallow-code/apispec/files/2448089/spec.txt)

[2018-10-05 05:17] justai-net opened #300 "When using example DocPlugin(), to_dict() paths contains an instance of Path."
[code]
Wanted
[code]

Managed to find a fix,
#core.py
[code]

#core.py
[code]

[2018-10-05 07:30] lafrech commented on #300
Thanks for reporting.

I believe this is a duplicate of https://github.com/marshmallow-code/apispec/issues/234 which is fixed in apispec 1.x beta.

The doc is wrong, because in 1.x beta `Path` was removed. Fix in #301.

[2018-10-05 19:37] ergo opened #302 "Split out web framework plugins into separate package"
Hi,

Now that Apispec nears 1.0 release, and given how many issues are open right now I was thinking that maybe web framework plugins should be living in a separate `apispec_plugins` package.
For bw. compatibility existing namespace `apispec.ext.$framework` could pull them back from separate package.

This would allow plugin authors to fix bugs in implementations or support newer versions of frame

[2018-10-06 00:22] lafrech commented on #282
The file is broken. It contains 5 lines with similar content, but different quotes (single/double). Line 3 looks fine.

I get 3 kinds of validation error, multiple time.

[code]

Regarding the "default" error. AFAIR, `nullable` is not authorized in OpenAPI v2, it appeared in v3, so we're using `x-nullable`, which I believe is common. You're setting a default value of `None`/`null`, which the valid

[2018-10-06 00:33] lafrech commented on #282
Here's the line where openapi-spec-validator skips `default` if it is `None`: https://github.com/p1c2u/openapi-spec-validator/blob/e41c77221368351021c7ce4442c7050ca1e7ffa6/openapi_spec_validator/validators.py#L305. Should this test be removed?

[2018-10-06 15:33] #300 closed, assigned to nobody

[2018-10-06 15:34] sloria commented on #302
I think this could be a good idea. @lafrech Any objections?

[2018-10-06 15:41] lafrech commented on #302
Thanks @ergo for offering your help on this.

I find it useful to be able to test all bundled frameworks while modifying apispec, so it is practical to have them in the tests. I also agree that once apispec reaches 1.0, it should not be as necessary.

You know what? Go for it, and let's keep those plugins as dev-requirements and keep the tests for now. Besides, some internal features may be only c

[2018-10-06 19:25] lafrech commented on #302
I just added [*plugins* label](https://github.com/marshmallow-code/apispec/labels/plugins) to issues that should be forwarded to plugins bugtrackers.

I also updated [1.0 milestone](https://github.com/marshmallow-code/apispec/milestone/2).

[2018-10-06 19:34] lafrech commented on #282
Here's a "minified" spec file to reproduce:

[code]

[2018-10-06 21:26] lafrech commented on #35
More or less related to https://github.com/marshmallow-code/apispec/issues/169 because it deals with schema modifiers.

Bottom line: for now, stay away from modifiers.

We could add a warning about those into the docs. Suggestions welcome.

[2018-10-06 21:28] lafrech commented on #204
Closing for now. Please reopen if still stuck.

[2018-10-06 21:28] #204 closed, assigned to nobody

[2018-10-07 01:23] ergo commented on #302
Hi I've added #304 , the repo for the package is https://github.com/ergo/apispec-ext-webframeworks - should I change ownership to marshmallow organisation?
I've tried to do things making the change transparent to end users. There probably is a way to move framework tests to separate package and test both in single run.

[2018-10-07 01:49] ergo commented on #302
I did not want to register any packages yet to solve the chicken/egg problem for test runner since I don't know the conventions Marshmallow project wants to follow here.

[2018-10-07 10:13] #119 closed, assigned to nobody

[2018-10-07 12:12] ergo commented on #302
I've made `invoke test` run tests from both packages at once, so testing all the frameworks during apispec development is still possible @lafrech.

[2018-10-07 21:01] lafrech commented on #302
Thanks @ergo for tackling this.

Thoughts, open to discussion:

- Shouldn't we make an extension per web framework? (apispec-ext-flask,...) Each extension would hard-depend on its framework, with a minimal compatible framework version (E.g. flask>=0.12).

- I wouldn't mind backward compatibility. Until 1.0 we can introduce breaking changes. There are breaking changes already, and users are expecte

[2018-10-07 21:04] ergo commented on #302
Yup, it would be trivial to make 1 package per framework, still keep tests to work in a single pass, up to you guys. I have no strong opinions here.

[2018-10-07 21:11] lafrech commented on #302
I like separate packages better but let's wait for @sloria.

I was thinking of keeping all the ext tests, at least temporarily, but I like the invoke trick. That's neat.

I just checked and those tests don't add coverage to apispec core. They really only test their respective frameworks, so they could be dropped soon. And test_ext_combination.py could be removed or abstracted to avoid depending th

[2018-10-08 01:18] justai-net commented on #300
Thanks,

[2018-10-08 01:54] sloria commented on #302
On one hand, it's nice to have different packages so they can be released independently. Also, it's better for discoverability, i.e. `apispec-tornado` is nicer than `apispec-ext-webframeworks`.

On the other hand, it's much easier to make contributor-facing DX changes across all  plugins when they're in a monorepo. I'm thinking of things like pre-commit hooks, TravisCI config, testing practices, d

[2018-10-08 07:44] lafrech commented on #245
#305 proposes another approach: use a `Components` class to hold those components. I'm not convinced it is the best approach. I found in nicer when I did it, but I don't have a strong feeling about it.

From developer perspective, it allows to separate those methods rather than have an APISpec class with many methods. From user perspective, it is more verbose (needs to add `components`, no big dea

[2018-10-08 09:51] ergo commented on #302
I agree, so what are the next steps here? In my local tests everything works, apart CI but thats expected until the package gets released.

[2018-10-08 09:57] lafrech commented on #302
Note that I pushed a change to the tests (including web framework tests) to ensure they don't rely on APISpec internal details. You'll have to rebase to pick those.

Also, I think you can remove the compatibility part, in fact the whole "ext" directory, and just make the web-framework lib a test dependency.

Edit: Of course not the whole "ext" dir. `MarshmallowPlugin` is kept. I meant all web-fram

[2018-10-08 13:09] lafrech opened #307 "RFC: remove schema auto-reference feature from MarshmallowPlugin"
See [comment](https://github.com/marshmallow-code/apispec/pull/179#issuecomment-405185455).

Rationale:

This is something that is easy to do in a custom plugin. Just override `definition_helper`. But it is hard to do in a totally generic way.

To make it more generic, the authors added a `schema_name_resolver` callback, so that the user can provide a function that returns a name from a Schema (fo

[2018-10-08 20:27] lbeaufort commented on #282
Apologies for my lack of expertise on these matters.

In regards to validating the default values for optional fields (`openapi-spec-validator` skips `default` if it is `None`) - how could we write specs for a non-required field if a default of none/null isn't permitted? Sorry if I'm missing something.

[2018-10-08 20:38] lafrech commented on #282
Looks like you wrote

    key = fields.Field(allow_none=True, default=None, required=False)

If the field is not required, no need to set a default and no need to use allow_none. (There is generally no need to use allow_none. Using allow_none in a REST API context is asking for trouble from my experience. Think twice before doing so.)

    key = fields.Field(required=False)

If the client sends no

[2018-10-08 21:09] lbeaufort commented on #282
Playing around with the minified spec file (thank you) - it looks like the behavior is the same (I used https://editor.swagger.io/) whether `"default": null` is set or skipped. I'm going to try skipping it on our end and see if that addresses the validation issues. I really appreciate your help!

[2018-10-08 21:22] lafrech opened #308 "RFC: Remove validate_spec feature"
See discussions in https://github.com/marshmallow-code/apispec/pull/299.

No strong feeling either way. Indeed, it probably works for most users, and anyone unhappy about the default values may install and call prance independently, so this implementation at least serves the purpose of showing how to do it.

[2018-10-08 22:09] lbeaufort commented on #282
^^ I see you came to the same conclusion, excellent, thanks again! Sorry I didn't see your message sooner!

[2018-10-08 22:33] sloria commented on #302
How about renaming the package to `apispec-web`? because

1. Existing plugin packages don't have "ext"
2. `web` is less typing than `webframeworks`  :smirk:

[2018-10-08 23:01] lafrech commented on #302
It's not very explicit.

If we manage to share the responsibility and split into several packages one day, how will we call the packages? apispec-tornado, apispec-flask,... ? Those are a bit more explicit. Although it might not be clear what the difference is between apispec-flask and flask-apispec...

The ext can go, I'd keep framework to be clear what it's about. It should only be until the fram

[2018-10-08 23:27] sloria commented on #302
Fair points. Let's go with apispec-webframeworks.

[2018-10-09 20:43] ergo commented on #302
Hi, I've renamed the package to apispec-webframeworks and rebased on top of latest code.

[2018-10-09 20:45] ergo commented on #302
The framework repo is in https://github.com/ergo/apispec-webframeworks - can I transfer rights to it?

[2018-10-09 21:22] sloria commented on #302
@ergo You can try transferring it to the marshmallow-code org. IF that doesn't work, transfer it to me (sloria), and I'll transfer it to marshmallow-code.

[2018-10-10 07:59] ergo commented on #302
@sloria Request to transfer to you initiated - to transfer to org I would have to have write permissions there it seems.

[2018-10-10 16:32] sloria commented on #302
Thanks @ergo. I transferred to marshmallow-code: https://github.com/marshmallow-code/apispec-webframeworks

[2018-10-10 17:01] ergo commented on #302
Awesome, what are next steps here, can you guys try installing both packages with my pr and see if everything works as it should? I tried running tests locally and everything was fine on my end.

[2018-10-11 18:00] tiangolo commented on #149
I recently had this problem. I needed a Swagger 2.0 API endpoint to receive a file upload, and Swagger UI wouldn't show the file input button until I declared it correctly.

I know this is probably not the right place to put Flask-apispec, but as this issue is one of the first hits in Google, I'll add it here, for future reference and for others that arrive here.

---

My project is based on https

[2018-10-11 20:12] rishi-recharge opened #314 "Consider "as_string" keyword argument for marshmallow's field.Decimal"
[code]

Today, apispec will map the price field as a "number", which makes sense. I was wondering if apispec could consider the `as_string` keyword and map the field as a "string"?

[2018-10-12 07:43] lafrech commented on #314
This is difficult to achieve in apispec as the mapping is between a `Field` class and a type.

I don't see a simple way to do that. It would take a new feature / a refactor.

There's been discussion in marshmallow about modifying the `Field` hierarchy to have dedicated fields by type and more general fields to get loose validation on import.

E.g. `DecimalString`, `DecimalNumber`. Then`Decimal` wo

[2018-10-12 14:59] rishi-recharge commented on #314
That makes sense. Thanks for taking the time to explain it.

I'll give the suggested workaround a try. I might get lucky by the fact that custom fields get mapped to string by default.

[2018-10-12 14:59] #314 closed, assigned to nobody

[2018-10-14 22:05] lafrech opened #315 "RFC: Remove BasePlugin.response_helper"
Before the Plugin class rework, one could map a method/status code combination to a helper function.

Since the Plugin class interface was introduced, APISpec loops over all method/status code combinations and the helper function must include conditional tests to perform the work on each combination it wants to address.

[code]

(See https://github.com/marshmallow-code/apispec/issues/207#issuecomm

[2018-10-18 01:21] sloria commented on #302
I'll work on getting apispec-webframeworks published to PyPI when I have some time (hopefully this weekend).

[2018-10-22 14:09] lafrech commented on #78
I'm discovering this and I find it a bit strange that we add the `basePath` prefix in the flask ext then strip it in the core with the `normalize_path` function.

Shouldn't we revert #70 already to not add it in the first place?

I think that's what @deckar01 means in

I guess now would be a good time. Note that this is an apispec-webframeworks issue, rather than an apispec issue.

Back to apispec

[2018-10-22 14:38] lafrech commented on #78
Also if `basePath` is `/` (default for OpenAPI and for flask's `APPLICATION_ROOT`) then `normalize_path` strips leading `/` from the paths.

What about replacing it with this (untested) ?

[code]

[2018-10-22 14:39] lafrech commented on #78
Let's settle this before v1.0.

[2018-10-22 15:01] lafrech commented on #78
Pinging @asteinlein, who worked on this.

[2018-10-22 15:03] lafrech commented on #165
https://swagger.io/docs/specification/api-host-and-base-path/

This affects code that relies on `basePath`, like `normalize_path` (see https://github.com/marshmallow-code/apispec/issues/78).

- [x] Generalize code relying on `basePath` (or remove it if possible as suggested in #78)

[2018-10-23 01:55] sloria commented on #282
@lbeaufort Can this issue be closed?

[2018-10-23 02:02] sloria commented on #308
We can leave this issue open for discussion, but I'm going to remove this from the 1.0 milestone in the interest of cutting scope.

[2018-10-23 12:44] lbeaufort commented on #282
@sloria unfortunately I'm having issues with the `validate_spec` using `flex` on our end, and we haven't had the resources to iron them out yet.

After following the discussion here: https://github.com/marshmallow-code/apispec/pull/299, I may implement our own `validate_spec` using `prance` and `openapi-spec-validator` because `flex` seems overly restrictive for our project (our specs are live and

[2018-10-23 12:48] #282 closed, assigned to nobody

[2018-10-24 08:59] lafrech commented on #78
Removing `APPLICATION_ROOT` stuff from Flask plugin and removing `normalize_path` only breaks the tests that were added when the features were added.

I think we should do the Flask plugin change (undo #70) in apispec-webframeworks. And document the need for the user to specify the base path (how to do it differs between OpenAPI v2 and v3).

Regarding `normalize_path`, it only works for OpenAPI v2

[2018-10-28 17:36] sloria opened #324 "Update docs for web frameworks plugins"

[2018-10-28 17:37] sloria opened #325 "Use tox for testing and task running"
Same as https://github.com/marshmallow-code/marshmallow/issues/1020

[2018-10-28 19:12] #325 closed, assigned to sloria

[2018-10-28 19:51] #302 closed, assigned to nobody

[2018-10-28 19:54] #324 closed, assigned to sloria

[2018-10-30 03:34] #315 closed, assigned to nobody

[2018-10-30 19:02] Bangertm opened #331 "TypeError when adding non-Marshmallow definition"
After upgrading apispec to 0.29 I'm seeing a TypeError when adding a non-Marshmallow definition to the spec.

For example:

[code]

Raises: TypeError: definition_helper() takes exactly 3 arguments (2 given).

The issue here seems to be calling the `definition_helper` of `MarshmallowPlugin` without a `schema` parameter.  This was previously caught via by including `TypeError` in this [except clause

[2018-10-30 19:19] lafrech commented on #331
What about

- we add the default value `schema=None` to `MarshmallowPlugin.definition_helper` and return `{}` if schema is `None`?

[code]

- maybe we add a `or {}` conditional in `add_path` to allow `definition_helpers` to return `None` rather than `{}`?

[code]

[2018-10-30 21:29] Bangertm commented on #331
Testing for a schema parameter and returning `{}` if it's not passed makes sense to me.

One other thing that looks odd is passing the definition parameter to definition_helper and then not using it - at least in any of the builtin plugins.

[2018-10-30 21:53] lafrech commented on #331
Alright. I'd rather get https://github.com/marshmallow-code/apispec/pull/305 merged before to avoid merge conflicts.

This was decided in https://github.com/marshmallow-code/apispec/pull/122.

[2018-10-31 04:21] Bangertm commented on #307
I like the concept behind the auto-reference feature: add a single schema to the spec and all sub schemas get added and referenced.  This keeps the resulting yaml relatively flat and give names to nested schemas instead of nesting them as an anonymous object.

My concern with the current state of affairs is that nested schemas are handled in two separate code blocks.  One is in [inspect_schema_for

[2018-10-31 09:55] buxx commented on #307
Hello,

Thank you for the global summary of our feature.

We use this feature in several projects now and it is essential for us. To make a reminder, we use this feature through hapic to permit auto generation of OpenAPI 2.0 doc by adding Marshmallow schemas in view decorators (example [here](https://github.com/algoo/hapic#fast-flask-example)).

We seriously considering making hapic compatible wit

[2018-10-31 10:08] lafrech commented on #307
Thank you guys for your feedback.

@buxx, if removed from vanilla apispec, I think it can be copied in a plugin and work exactly the same way as it used to, so unless I'm mistaken, your use case wouldn't be broken. And having it in your plugin would even simplify it as you wouldn't need so much customization. For instance, the schema_name_resolver could be hardcoded.

@Bangertm if this is feasible

[2018-11-03 14:32] lafrech commented on #257
Moved to https://github.com/marshmallow-code/apispec-webframeworks/.

[2018-11-03 14:32] #257 closed, assigned to nobody

[2018-11-03 14:32] lafrech commented on #215
Moved to https://github.com/marshmallow-code/apispec-webframeworks/.

[2018-11-03 14:32] #215 closed, assigned to nobody

[2018-11-03 14:33] lafrech commented on #193
Moved to https://github.com/marshmallow-code/apispec-webframeworks/.

[2018-11-03 14:33] #193 closed, assigned to nobody

[2018-11-03 14:33] lafrech commented on #181
Moved to https://github.com/marshmallow-code/apispec-webframeworks/.

[2018-11-03 14:33] #181 closed, assigned to nobody

[2018-11-03 14:33] lafrech commented on #176
Moved to https://github.com/marshmallow-code/apispec-webframeworks/.

[2018-11-03 14:33] #176 closed, assigned to nobody

[2018-11-03 14:33] lafrech commented on #159
Moved to https://github.com/marshmallow-code/apispec-webframeworks/.

[2018-11-03 14:33] #159 closed, assigned to nobody

[2018-11-03 14:33] lafrech commented on #68
Moved to https://github.com/marshmallow-code/apispec-webframeworks/.

[2018-11-03 14:33] #68 closed, assigned to nobody

[2018-11-05 21:54] lafrech opened #335 "Make APISpec and Components methods chainable"
See discussion in https://github.com/marshmallow-code/apispec/pull/305.

Just let `path`, `tag`, etc. return `self`.

[2018-11-06 16:01] pmayer opened #337 "Metadata for Schema"
I'm using converter.schema2jsonschema(schema) in a project and want to set "additionalProperties" for the generated schema and/or nested schemas in it. Is this possible? I only found documentation on setting it in metadata for a field.

[2018-11-06 23:03] #331 closed, assigned to nobody

[2018-11-06 23:16] lafrech commented on #245
Removing 1.0 milestone as the breaking part was achieved in https://github.com/marshmallow-code/apispec/pull/305. We can now add other [components](https://swagger.io/docs/specification/components/) using the same mechanism.

Anyone willing to contribute can easily add methods to register other component types. I don't think they'll need plugin helpers. Just pay attention to OpenAPI v2 vs. v3 diff

[2018-11-07 00:16] #335 closed, assigned to nobody

[2018-11-07 21:05] darwinyip opened #339 "AttributeError: 'APISpec' object has no attribute 'definition'"
Getting AttributeError: 'APISpec' object has no attribute 'definition'.
Same for `add_path()`.

This is using:
marshmallow==2.16.3
apispec==1.0.0.b5

[2018-11-07 21:07] lafrech commented on #339
This breaking change is documented in the changelog: https://github.com/marshmallow-code/apispec/blob/dev/CHANGELOG.rst.

[2018-11-07 21:11] lafrech opened #340 "Raise exception upon name collision when registering components"
When registering e.g. two schemas with the same name, the latter silently overwrites the former.

I think we should raise an Exception to inform the user.

Theoretically, it could break code where for some reason the user relied on this (like register a first version, then conditionally register a second version), but this shouldn't be a blocker.

[2018-11-08 14:11] #339 closed, assigned to nobody

[2018-11-12 08:22] lafrech opened #342 "default/missing value are passed in deserialized form with marshmallow 3"
This will break automatic default documentation:

[code]

Since we have the field object, maybe we could use it to dump the value for the doc?

Could that fail in some corner case?

[2018-11-12 16:20] buxx opened #343 "Discussion about implementing new plugin"
Hello,

In addition of considering #307 , we are preparing integration of an alternative of Marshmallow: https://gitlab.com/sgrignard/serpyco

Has i can see, Marshmallow is implemented as a [plugin](https://github.com/marshmallow-code/apispec/blob/dev/apispec/ext/marshmallow/__init__.py#L41), so we want to add support of serpyco by write a plugin.

Serpyco use dataclasses as schema and produce jso

[2018-11-13 13:17] buxx opened #344 "Error in documentation about contributing"
Hello,

In page https://apispec.readthedocs.io/en/stable/contributing.html , documentation indicate Following command:

    $ pip install -r dev-requirements.txt

But there is no more `dev-requirements.txt` file.

[2018-11-13 19:00] sloria commented on #344
See here for the latest contributing docs: https://apispec.readthedocs.io/en/latest/contributing.html

[2018-11-13 19:00] #344 closed, assigned to nobody

[2018-11-13 20:49] buxx commented on #344
Thank's !

[2018-11-29 13:44] buxx commented on #307
@lafrech For information, i'm writing auto-reference feature as a plugin.

[2018-11-29 13:56] lafrech commented on #307
@buxx, please have a look at @Bangertm's work on this: https://github.com/marshmallow-code/apispec/pull/333.

We're almost done with this and chances are the feature could be integrated in the core.

It's nice if you can have a look at it and provide feedback. Do you see any issue with his implementation? Anything that would break your use case?

[2018-11-29 14:43] buxx commented on #307
I take a look.

[2018-11-30 10:14] buxx commented on #307
@lafrech @Bangertm I can say that is it ok for us:

* Beautiful implementation
* Our code is compatible

Just one thing to say, let's go ^^

[2018-11-30 22:29] Bangertm opened #347 "Invalid Reference Object"
It looks like this test:

https://github.com/marshmallow-code/apispec/blob/b4bf604b6847b87616b84aed417154a58a97a8de/tests/test_openapi.py#L616-L623

is incorrectly adding field metadata as additional properties to a reference object.  The OpenAPI v3 spec on [reference objects](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.1.md#reference-object) has this comment:

The way we

[2018-12-01 17:15] lafrech commented on #169
Here's a draft of `Schema` comparison feature: https://github.com/marshmallow-code/marshmallow/pull/1062.

[2018-12-16 00:18] sloria commented on #343
Check out the docs for writing plugins here: https://apispec.readthedocs.io/en/stable/writing_plugins.html .

Also, I'd recommend looking at the source for MarshmallowPlugin.

Good luck with the serpyco plugin!

[2018-12-16 00:18] #343 closed, assigned to nobody

[2018-12-16 04:23] sloria commented on #347
Good catch. @Bangertm would you like to send a PR fixing this?

[2018-12-16 21:03] lafrech commented on #78
Closing as changes in https://github.com/marshmallow-code/apispec/issues/78#issuecomment-432574250 were implemented.

[2018-12-16 21:03] #78 closed, assigned to nobody

[2018-12-20 11:04] zeakd opened #348 "nested load_only fields appears in response"
Hi.

I'm using apispec 1.0.0b6 and I love responses swagger control with load, dump_only fields.
but when schema is nested, load_only fields appears in responses example value.

related #303 #119
Thanks

[2018-12-30 06:24] cutenarwhal opened #353 "Addition of views from blueprints removed ?"
I notice that support for blueprints used to be possible through some additional code though not in the apispec library itself, as per https://github.com/marshmallow-code/apispec/issues/68

Specifically this code used to work
[code]

However I think apispec itself has changed a lot since then since 'flaskpath2swagger' is no longer available. I've checked the changelog and apispec is changing quite

[2018-12-30 14:19] sloria commented on #353
As of 1.0.0b4, the Flask plugin is in a separate package, [apispec-webframeworks](https://github.com/marshmallow-code/apispec-webframeworks). `flaskpath2swagger` is now in `FlaskPlugin.flaskpath2openapi`.

[2018-12-30 14:19] #353 closed, assigned to nobody

[2018-12-31 23:05] Bangertm commented on #347
@sloria yes I'm got a fix along with some other refactoring of `field2property`.

[2019-01-02 03:37] Bangertm opened #354 "RFC: Remove extracting reference from field metadata"
Currently the Marshmallow plugin looks for 'ref' key containing a JSON reference path in field.  An example from the [tests](https://github.com/marshmallow-code/apispec/blob/29881b18e6723295870422f08c17851d49f83caf/tests/test_openapi.py#L600):
[code]
This functionality seems to be redundant with the plugin's ability to store automatically store references.  It also seems like it is a more fragile

[2019-01-14 16:26] sloria commented on #165
@lafrech Can your previous comment be checked off, now that we've removed the path normalization code?

[2019-01-14 16:35] lafrech commented on #165
Yes. Checked.

[2019-01-24 08:14] #169 closed, assigned to nobody

[2019-01-25 01:39] #347 closed, assigned to Bangertm

[2019-01-25 14:07] lafrech commented on #307
Closed by https://github.com/marshmallow-code/apispec/pull/333.

[2019-01-25 14:07] #307 closed, assigned to nobody

[2019-01-25 14:12] #35 closed, assigned to nobody

[2019-01-25 17:03] lafrech commented on #354
I guess you can go for it.

This may also mean removing the `use_refs` parameter. Not sure.

[2019-01-29 23:42] #340 closed, assigned to nobody

[2019-01-31 02:13] sloria opened #370 "Fix failing webframeworks build"
`tox -e webframeworks` is failing on the latest `dev`.

[2019-01-31 20:41] sloria commented on #370
Fixed in the latest release of apispec-webframeworks.

[2019-01-31 20:41] #370 closed, assigned to nobody

[2019-02-01 10:42] lafrech commented on #245
List of components

- [x] schemas
- [x] parameters
- [x] securitySchemes
- [ ] requestBodies
- [x] responses
- [x] headers
- [x] examples
- [ ] links
- [ ] callbacks

When adding a component adder method, also update `build_reference` and `clean_operations` to automatically build references in the spec.

[2019-02-01 22:25] lafrech commented on #165
Looks like we implemented all the changes we identified. Let's close this for now and declare apispec OpenAPIv3 compliant.

If other adaptations are needed, we'll open dedicated issues.

[2019-02-01 22:25] #165 closed, assigned to nobody

[2019-02-02 02:17] sloria opened #377 "Update docs with OpenAPI 3 examples"
Now that #165 is resolved, the docs should be updated to show OpenAPI 3 examples.

[2019-02-02 18:34] #377 closed, assigned to nobody

[2019-02-03 17:09] zeakd opened #379 "Support nested schema inside object properties"
Hi. Maybe I missed, I'm trying to nest a schema to object type `properties`, but I couldn't found the way to solve this situation.

[code]

First I wrote below, but it doesn't work.

[code]

This is one of options, but  it can't declare `description`

[code]

manual binding is not working because **AddressInfo** is not in **#/components/schema**

[code]

Is there a proper solution for this? 🙏 Than

[2019-02-03 18:57] sloria commented on #354
Done in #363

[2019-02-03 18:57] #354 closed, assigned to nobody

[2019-02-03 20:07] sloria commented on #337
This was suggested in #208 but we never ended up supporting schema-level metadata (only field metadata is currently supported). I'm still open to adding it, though I'd like to know more about people's use cases before adding it to the codebase.

[2019-02-04 20:42] lafrech commented on #348
With the recent changes in apispec, schemas are automatically references and their definition includes read/write only fields because it may be used both as parameter or response. Therefore, load_only fields always appear in schema definitions.

If you're using OpenAPIv3, they should have the `writeOnly` attribute. This attribute does not exist on OpenAPIv2. One could add `x-writeOnly` to the `Fie

[2019-02-04 21:57] whoiswes opened #383 "Docstring-only schemas incorrectly referenced as arrays?"
Tested with Marshmallow 3.0.0rc3 and APISpec 1.0.0rc1.

Took a copy of the APISpec quickstart code and removed the defintions, so that schemas were only being referenced from the docstrings.  I'm seeing that the nested schema is being picked up as an array (incorrect) but then is also referenced as an array from the parent schema (correct).

Example (as short as I can make it, ignoring imports):

[2019-02-05 00:52] #227 closed, assigned to nobody

[2019-02-05 01:00] sloria commented on #226
We don't have plans to implement this in the near future. For now, use @timakro 's plugin =)

[2019-02-05 01:00] #226 closed, assigned to nobody

[2019-02-05 07:55] lafrech commented on #226
Actually, I might be tempted to add this feature in a future version.

Since @timakro's plugin is released under and incompatible license (LGPL), I'll need to start from scratch.

Thanks for sharing the plugin anyway.

[2019-02-05 12:51] sloria commented on #383
Thanks for reporting @whoiswes . This looks like a legitimate bug.

I probably won't have time to look into this today. @lafrech or @Bangertm Can you take a look, since you're more familiar with the auto-referencing code?

[2019-02-05 13:40] Bangertm commented on #383
I'm taking a look.  Agree that this is a bug, but not sure the implications of making the change @whoiswes suggests.

[2019-02-06 16:36] Bangertm commented on #383
It looks like there are three cases that need to be considered here:

1. The case @whoiswes reported with a nested field with `many=True`.  This case is not currently working properly because the nested schema is being added to the spec as an array instead of as an object.
2. The case with a nested field with `many=True` and the user passes a `schema_name_resolver` that returns `None` for the nest

[2019-02-07 23:37] #383 closed, assigned to nobody

[2019-02-08 13:38] whoiswes commented on #383
Thanks everyone!

[2019-02-11 11:03] ChrisTerBeke opened #388 "Error importing YAMLDumper"
As of last week, we are suddenly getting this line:

[code]

Seems like YAMLDumper was moved to another module which is a breaking change, but the version increase was not a major one?

[2019-02-11 11:08] lafrech commented on #388
We released apispec 1.0.0 just recently. It is a major version with a lot of breaking changes documented in the changelog.

I think your issue is related to

https://github.com/marshmallow-code/apispec/blob/dev/CHANGELOG.rst#100b1-2018-07-29

https://github.com/marshmallow-code/apispec/pull/251

I forgot to link to the PR in the CHANGELOG. ~I shall fix that.~ [Fixed](https://github.com/marshmallow

[2019-02-11 11:12] ChrisTerBeke commented on #388
Okay, thanks for the clarification. I'll use the last beta then for now and upgrade in the future after rewriting some of our code.

[2019-02-11 11:12] #388 closed, assigned to nobody

[2019-02-11 14:33] Bangertm commented on #379
The marshmallow plugin is not looking for marshmallow schemas nested within properties of a schema defined in a YAML.

You can solve this two ways:

1. Use your manual binding and manually add your `AddressInfo` schema to the spec by calling `spec.components.schema(name="AddressInfo", schema=AddressInfo)`
2. Create a schema for the entire response with `AddressInfo` as a nested field.  Then you ca

[2019-02-12 06:48] zeakd commented on #379
Thanks @Bangertm. But I found marshmallow plugin is actually looking for marchmallow schema in the docstring, so
[code]
this is works without importing AddressInfo schema manually .  The only problem is, I can't write **description** in this way.
However in case type of nested schema is array, properties can be written much easier. I want to point out this inconsistency.
[code]
I love apispec + ma

[2019-02-12 12:37] pmayer commented on #337
Well, in my use case I have a postgres json field in the back end which should contain different objects depending on another field. This is defined and validated against jsonschemas generated via converter.schema2jsonschema(schema) and provided to the front end via a django rest framework api.

[2019-02-22 00:05] kaya-zekioglu opened #395 "Representing openapi's "Any Type""
I am trying to use `marshmallow.fields.Raw` to represent a "arbitrary json" field. Currently I do not see a way to represent a field in marshmallow that will produce a openapi property that is empty when passed through apispec.

The code in `apispec.marshmallow.openapi.OpenAPIConverter.field2type_and_format` (see https://github.com/marshmallow-code/apispec/blob/dev/apispec/ext/marshmallow/openapi.

[2019-02-22 15:57] lafrech commented on #348
@zeakd, still stuck on this? May I close this issue?

[2019-02-22 16:08] lafrech commented on #395
Thanks for reporting. Is this specific to OAS3 or does it also apply to OAS2?

What if we changed the mapping

https://github.com/marshmallow-code/apispec/blob/dev/apispec/ext/marshmallow/openapi.py#L52

[code]

into

[code]

then modify `field2type_and_format` like this:

[code]

?

[2019-02-22 16:45] kaya-zekioglu commented on #395
I cannot find direct reference to "Any Type" in the OAS2 specification that seems equivalent to what I found in OAS3.
Despite this I believe it does apply to OAS2 because...
- In the OAS 2 docs it says that "Models are described using the Schema Object which is a subset of JSON Schema Draft 4." (https://github.com/OAI/OpenAPI-Specification/blob/master/versions/2.0.md#data-types)
- JSON Schema Draf

[2019-02-22 16:50] lafrech commented on #395
I agree.

Would you like to send a PR with this fix?

[2019-02-22 19:34] kaya-zekioglu commented on #395
Certainly -- I will look into it this weekend, schedule permitting.

[2019-02-26 13:58] timakro opened #398 "pyyaml dependency not working"
When starting a fresh virtualenv and installing `apispec`, `pyaml` is not installed.

[2019-02-26 14:00] lafrech commented on #398
Yes, this is now an optional dependency.

https://apispec.readthedocs.io/en/stable/changelog.html#b1-2018-07-29

[2019-02-26 14:00] #398 closed, assigned to nobody

[2019-02-28 10:45] mcs07 opened #399 "Add support for Marshmallow Tuple field"
marshmallow 3.0.0rc4 adds a Tuple field. It would be nice if the apispec marshmallow plugin could support this.

[2019-02-28 10:56] lafrech commented on #399
Yes! Absolutely. Would you like to submit the change?

[2019-02-28 11:28] mcs07 commented on #399
This might be a bit trickier than I first thought....

I presume the first thing to do is to add to `DEFAULT_FIELD_MAPPING `:

    marshmallow.fields.Tuple: ("array", None),

But from reading the OpenAPI spec it doesn't seem to be possible to specify the types of the contained items individually. So I think the best we could do is to use `anyOf` then list the types? And also constrain the length?

[2019-02-28 11:44] lafrech commented on #399
Since it may contain nested fields, it probably deserves a special treatment in there like `List` and `Dict`: https://github.com/marshmallow-code/apispec/blob/dev/apispec/ext/marshmallow/openapi.py#L420.

There's been discussions in https://github.com/marshmallow-code/apispec/issues/172 about making this easier to extend, but for now, we can just add a case.

[2019-02-28 15:39] Bangertm commented on #399
How about adding an [extension](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#specification-extensions) to indicate the order to the user.  Maybe something like:

[code]

If there is enough of a use case we could look look to add something to the standard, but using an extension short term can help validate the use case.

A couple other things I noted in playing around

[2019-03-04 09:32] buxx opened #400 "Congrats for 1.0.0 !"
Hello,

This issue is just a congratulation for your 1.0.0 stable release and your 1'000 commits

# 🎉

Thank's for your work (you can close this issue off course ;) )

[2019-03-04 09:50] zeakd commented on #348
@lafrech oh, sorry, I missed the notice. I'll reopen this if it's still a problem in our project.

[2019-03-04 09:50] #348 closed, assigned to nobody

[2019-03-04 10:17] lafrech commented on #400
Thanks!

I guess this means you managed to port your code to apispec 1.0.0. Sounds good.

[2019-03-04 10:17] #400 closed, assigned to nobody

[2019-03-05 14:04] nicholasamorim opened #401 "Adding useful definitions"
Hi, thanks for this great project.

Maybe I'm missing something but is there any way we can document individual fields? I'm using APISpec couple with Marshmallow and while the the response objects are rendered just fine, I'm wondering if there's any way of adding meaningful descriptions to each field.

[2019-03-05 14:19] lafrech commented on #401
Yes.

https://apispec.readthedocs.io/en/stable/api_core.html#apispec.core.Components.schema

If you are using apispec.ext.marshmallow, you can pass fields’ metadata as additional keyword arguments.

For example, to add enum and description to your field:

[code]

(We could reword this as "If you are using `MarshmallowPlugin`...")

[2019-03-05 14:42] nicholasamorim commented on #401
Oh, perfect. I knew was I was missing something. Thanks!

[2019-03-05 14:42] #401 closed, assigned to nobody

[2019-03-07 18:51] maxalbert opened #402 "Adding schema with an existing name should be allowed if the schemas are identical"
Currently adding the same (identical) schema with the same name raises a `DuplicateComponentNameError`.

Normally this makes sense, but it causes issues in combination with [apispec_oneofschema](https://github.com/timakro/apispec-oneofschema) when trying to register two `OneOfSchema` instances which multiplex the same underlying schema.

Here is a minimal example (where `SchemaA` is used in both `

[2019-03-07 19:47] Bangertm commented on #402
I think I would prefer to fix this in apispec_oneofschema. There we could check to see if the schema was already in the spec before attempting to add it.

[2019-03-08 01:51] maxalbert commented on #402
Sure, makes sense. I'll take a look at submitting a PR there (but it will have to wait until next week). Thanks for the quick reply!

Just out of interest, what makes you prefer having this in `apispec_oneofschema` rather than `apispec` itself?

[2019-03-08 09:32] lafrech commented on #402
I also think it should be the client's responsibility not to register twice the same component, rather than relying on apispec to ignore identical components silently.

It would be much better if you could fix this in the caller,

[2019-03-09 22:32] #402 closed, assigned to nobody

[2019-03-11 20:20] Bangertm commented on #402
@maxalbert see timakro/apispec-oneofschema#3.  This is what I meant to implement before but forgot.  It's relatively straight forward to determine if one of the schemas is already in the spec and this way feels cleaner.

[2019-03-12 09:42] maxalbert commented on #402
Great! Thanks everyone for the input, and to @Bangertm for opening the PR with the fix in `apispec_oneofschema`. 👍

[2019-04-05 00:44] zachmullen opened #422 "Consider coercing response codes to strings"
The OpenAPI specification [allows responses of the form 2XX, 4XX, etc](https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.0.md#patterned-fields-1). Using this library, it's possible in a docstring to write something like this:

[code]

This causes the following error:

[code]

Which happens because the `200` key is stored as an `int`, and the `4XX` key is stored as a string. A p

[2019-04-05 00:50] zachmullen commented on #422
Note that just calling `to_dict` on the spec is not enough to trigger this error, this is a result of passing that return value into Flask's `jsonify`, which sorts dict keys when running in development mode.

[2019-04-05 06:55] lafrech commented on #422
This makes total sense. In fact, in flask-rest-api, I explicitly cast to string (https://github.com/Nobatek/flask-rest-api/commit/7d688f4c788707ec0a11cb1e2b8649763c51121f).

Would you like to submit a PR for that?

[2019-04-05 12:30] zachmullen commented on #422
Sure, can you point me to where in the code this ought to be done?

[2019-04-07 14:45] #422 closed, assigned to nobody

[2019-04-07 14:46] zachmullen commented on #422
Thanks!!! 🎉 🎉

[2019-04-08 16:09] DStape opened #426 "Stringification of response status codes leads to invalid swagger"
Recent merge of https://github.com/marshmallow-code/apispec/pull/424 results in our swagger documentation being generated with the following response definitions:

[code]

Previously:
[code]
i.e. usage of https://docs.python.org/3/library/http.html#http-status-codes results in the generation of invalid swagger.

Potential fix (```get_ref()``` in ```/src/apispec/core.py```):
[code]

I'm happy to op

[2019-04-08 16:20] sloria commented on #426
I think the try-except approach makes sense. @lafrech ?

[2019-04-08 20:32] lafrech commented on #426
I'm not a big fan of the try-except approach where we try to catch all kinds of errors, potentially hiding input errors. And I wouldn't log an error since this code raises on `'4XX'`, for instance, which is valid as per #422.

We only ever tested/supported status codes as string or integers. AFAIU, `HTTPStatus` worked because it's a subclass of `IntEnum` and it would serialize as integer when json

[2019-04-09 13:45] dpgaspar opened #429 "Support for Related and RelatedList"
Hi,

Currently I'm using apispec to create components/schemas based on Marshmallow Schemas.
Some of my Schemas are generated by marshmallow-sqlalchemy so they are ModelSchemas.
The problem arises when I have Related or RelatedList "fields" this type identified on OpenApi Schema is "string". Can you give me some advise, or improve this?

Thank you!

[2019-04-11 13:25] Paradoxis opened #430 "How to implement a custom 'schema_name_resolver'"
I'm currently helping apply swagger documentation to a large codebase which uses Marshmallow to serialise objects, the api uses a JSON protocol named [jsend](https://github.com/omniti-labs/jsend), for this I decided to write a plugin which wraps all schema's with a dynamic JSend envelope, however when I do this my console gets spammed with messages along the following:

When looking on the documen

[2019-04-12 06:06] AbdealiLoKo opened #432 "fields.Dict assumes keys are strings"
https://github.com/marshmallow-code/apispec/blob/dev/src/apispec/ext/marshmallow/openapi.py#L422

I see here and also discussed https://github.com/marshmallow-code/apispec/issues/201 that keys are ignored.
I have a scenario where my keys are integers. I have a input which is like `{1: 2, 3: 1, 4: 3}` which takes in something like the linkages between 2 of my entities

While I could change the sche

[2019-04-12 07:17] lafrech commented on #432
I believe the idea here is that in valid JSON, keys must be strings. (https://json.org/)

[2019-04-12 09:13] AbdealiLoKo commented on #432
Ouch, I forgot that.
[code]

I wonder which part of my stack is doing this for me ...
Closing as invalid.

[2019-04-12 09:13] #432 closed, assigned to nobody

[2019-04-15 14:23] Bangertm commented on #430
I think what is happening in the first example is that for each status code the plugin is creating a new envelope schema class and that multiple envelope classes have the same `__name__`.  When adding different schema classes to the spec that have the same `__name__`, APISpec will create a unique name by appending  an integer to the name and provide a warning a warning because this is likely not w

[2019-04-16 13:28] andrjohn opened #433 "Subclassed Lists marked as string type"
I am using a tool to generate a Marshmallow schema that I then present as a RESTful API. In order to override some of the methods of marshmallow.fields.List, the generated schema can have generated classes that subclass List. The resulting APISpec is _almost_ perfect because openapi.py mostly uses isinstance to see if the field is a list. For example:

        is_array = isinstance(
            fi

[2019-04-16 14:35] DStape commented on #426
Will take your comments on board and will have a PR out soon.

[2019-04-16 14:56] dpgaspar commented on #429
Any news on this?

[2019-04-18 11:08] andrjohn commented on #433
Thinking about this further, I think the correct thing to do is improve the behaviour of field2type_and_format when the type isn't explicitly found in the field_mapping. It currently always falls back `string`, but we can identify Lists as `array` and Dicts as `object`. In fact the DEFAULT_FIELD_MAPPING could be used, although not in its current form.

Note, things seem to work for subclassed Nest

[2019-04-18 13:55] sloria commented on #433
@andrjohn Would you be up for sending a PR?

[2019-04-18 15:35] andrjohn commented on #433
Done. Looking through the open issues I see someone had a problem with Integers a while ago (#250), although resolved it with `@ma_plugin.map_to_openapi_type`. I have added a test for this case as this method fixes that too.

[2019-04-18 15:39] andrjohn commented on #429
@dpgaspar I have a PR out that may help. At the moment, any field that is not explicitly in a field mapping in openapi.py will default to be a string. You can work around this by using an API to add your custom fields to the mapping. My PR improves the handling when the field isn't in the mapping, for example, if your RelatedList type inherits from List then it will be given the `array` type.

[2019-04-18 19:07] dpgaspar commented on #429
oh great! Can you please make the PR reference this issue, maybe I can help further down the road.

[2019-04-22 13:02] dpgaspar commented on #429
The problem here is that I'm using marshmallow_sqlalchemy if I add:

[code]

"solves" my problem, but this seems wrong since the extension is for marshmallow not marshmallow_sqlalchemy, does this force a new extension?

Also the `Related` type mapped to `number` is not always correct, since primary keys can be of any type.

Can you please help:
- Are there any already made extensions for this?
- A

[2019-04-22 22:34] andrjohn commented on #429
I see that the class `RelatedList` inherits from `fields.List` and `Related` inherits from` fields.Field`. With PR #435, then these will be represented as "array" and "string" respectively. This seems correct for `RelatedList`. For Related fields, as you say, the type will vary.

You can probably work around the issue by creating your own custom field:

    @ma_plugin.map_to_openapi_type(mmfields.

[2019-04-23 14:28] dpgaspar commented on #429
Nice, thank you @andrjohn, I'll explore these alternatives. I'll close this one, if I need any further help I'll open a new one

[2019-04-23 14:28] #429 closed, assigned to nobody

[2019-04-23 15:10] DStape commented on #426
PR #436

[2019-04-24 23:28] #433 closed, assigned to nobody

[2019-04-25 13:18] sloria opened #437 "Update Custom Fields docs for #435"
https://github.com/marshmallow-code/apispec/pull/435#issuecomment-486654039

[2019-04-29 13:09] lafrech opened #440 "Add minimum/maximum on date/datetime fields"
Python's date/datetime objects have min/max bounds.

https://docs.python.org/3.5/library/datetime.html
https://stackoverflow.com/a/31972447/4653485

We should use those to automatically specify min/max values in the spec.

[2019-04-29 22:28] izieg-lo3 opened #441 "MarshmallowPlugin does not follow $ref when parsing requestBody"
Suppose my spec contains the following for a route:
[code]
The requestBody being referenced here is manually provided to `APISpec(components=...)` in the components dict (not a marshmallow schema)

Without the MarshmallowPlugin enabled, this works correctly with `apispec` and produces a valid OpenAPI doc.

After enabling the MarshmallowPlugin, I get this error:
[code]

Is this a bug? Is there anot

[2019-04-30 02:00] sloria commented on #426
The fix is released in 1.3.1.

[2019-04-30 02:00] #426 closed, assigned to nobody

[2019-04-30 02:02] sloria commented on #441
Thanks for the report. This does appear to be a bug. You should be able to pass plain refs.

I won't have time to dig into this in the near future, so I'd gladly review and merge a PR.

[2019-04-30 06:54] lafrech commented on #441
What if you pass only the ref name?

[code]

or

[code]

(I don't use YAML, I'm not sure about the quotes.)

[2019-05-02 07:28] #437 closed, assigned to nobody

[2019-05-03 14:29] revmischa opened #444 "What to do about multiple nested schemas warning?"
Originally reported here: https://github.com/Nobatek/flask-rest-api/issues/57 - see there for more input

--

I'm using marshmallow v3-rc5 and using [two-way nesting](https://marshmallow.readthedocs.io/en/latest/nesting.html#two-way-nesting)
Using this technique I get the following error if I attempt to use something like `@blp.response(CreatorSchema(many=True, exclude=('follower_count',)))`:
[cod

[2019-05-03 14:44] lafrech commented on #444
As I explained in https://github.com/Nobatek/flask-rest-api/issues/57, since a field is excluded, these are indeed different schemas, so apispec is doing the right thing by creating separate schemas in the spec.

We added a warning because we figured the user might not be aware of this (your example proves us right) and he would probably want to set explicit names himself (manually or with a custo

[2019-05-04 12:16] revmischa commented on #444
I'm fine with the behavior I just want to shut it up.

[2019-05-20 21:52] rshah88 commented on #165
Is this released ?

[2019-05-20 23:16] lafrech commented on #165
Yes. Since apispec 1.0.0.

[2019-05-24 07:07] lafrech commented on #430
@Paradoxis, are you still stuck with this or shall we close the issue?

[2019-05-26 10:53] Paradoxis commented on #430
@lafrech still stuck, haven't been able to figure it out and had to put the feature as 'on hold'

[2019-06-02 20:18] billyrrr opened #449 "Dev Documentations for OpenAPIConverter Initializer"
[Initializer](https://github.com/marshmallow-code/apispec/blob/59c0361fed31bade13ce117da2d52558cc008c1b/src/apispec/ext/marshmallow/openapi.py#L113) for OpenAPIConverter does not have dev documentations ([openapi.py](https://github.com/marshmallow-code/apispec/blob/dev/src/apispec/ext/marshmallow/openapi.py)) Hence, it is difficult to figure out what conditions ```schema_name_resolvers``` have to

[2019-06-02 20:45] lafrech commented on #449
Indeed, the docstring in `OpenAPIConverter` is incomplete.

There is a bit of documentation in `MarshmallowPlugin` docstring, though.

I think `OpenAPIConverter` is not meant to be instantiated by itself, outside of a `MarshmallowPlugin`. I can't find the source but I remember someone doing this and having issues. **Edit**: here it is https://github.com/marshmallow-code/apispec/pull/447.

[2019-06-10 18:35] karec opened #453 "Allow to pass parameters argument to path"
The OpenAPI specifications allow to set parameters for a path item object https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#path-item-object to make them available for all operations.

AFAIK, [`APISpec.path()`](https://github.com/marshmallow-code/apispec/blob/dev/src/apispec/core.py#L279) method doesn't take a `parameters` argument, resulting in duplicating documentation o

[2019-06-11 10:02] lafrech commented on #453
Makes total sense to me.

PR welcome!

[2019-06-12 01:23] karec commented on #453
On it !

[2019-06-13 15:00] lafrech commented on #441
@izieg-lo3 are you still stuck with this?

[2019-06-18 08:43] dpgaspar opened #458 "Security scheme problem token not included"
Hi,

On flask-appbuilder implementation, the swagger-ui is not including the configured JWT token on authorize. seems like that a normal OpenAPI 3.0.X implementation must include the security scheme to use, globally or by path:

[code]

https://github.com/swagger-api/swagger-ui/issues/3860

On FAB implementation I'm adding the security scheme like this, following apispec documentation:
[code]

Can

[2019-06-18 10:12] lafrech commented on #458
Can you please paste here the components / security schemes part of the spec file that is generated (the output of `spec.to_dict()`)?

[2019-06-18 10:41] dpgaspar commented on #458
[code]

[2019-06-18 10:42] dpgaspar commented on #458
A bit big. I really appreciate your help!

[2019-06-18 12:15] lafrech commented on #458
The relevant part is

[code]

What you're asking for in OP is

[code]

What if you change your code like this?

[code]

[2019-06-18 13:03] stribny opened #459 "Marshmallow Pluck type not supported correctly?"
Hi guys,

I was just trying to use Marshmallow 3 "nesting" via Pluck field (example taken from docs https://marshmallow.readthedocs.io/en/3.0/nesting.html) and swagger documentation rendered via `apispec` shows nested object in an array instead of flat array.

When using this example:

[code]

`apispec`-generated documentation says that ` "friends": ["Mike", "Joe"]` is in fact ` "friends": [{"name

[2019-06-18 13:29] lafrech commented on #459
Yes, this is a TODO.

You may find these discussions relevant:

- https://github.com/marshmallow-code/apispec/issues/399
- https://github.com/marshmallow-code/apispec/issues/172

We need to refactor a bit to allow supporting custom fields. Doing so would simplify supporting "core but special" fields like container fields.

[2019-06-18 20:36] lafrech commented on #453
Closed by #455.

Thank you so much @karec for your work on this.

[2019-06-18 20:36] #453 closed, assigned to nobody

[2019-06-19 02:24] deckar01 commented on #458
The security schema declaration is fine. I think the docs for using security schemas is incomplete.

https://apispec.readthedocs.io/en/stable/special_topics.html#documenting-security-schemes

It describes declaring the top level security schema, but not the `security` parameter required to use it.

https://github.com/OAI/OpenAPI-Specification/blob/master/versions/3.0.2.md#operation-object

The OAP

[2019-06-19 07:21] lafrech commented on #458
Right. The name "bearerAuth" / "jwt" can be an arbitrary string, so my comment was wrong.

Indeed, just adding a scheme as a component only makes it available to operations, but not enabled. Once a scheme component is added, you still have to apply it, either globally or in each operation.

[2019-06-19 20:07] lafrech commented on #453
Should `MarshmallowPlugin` get a `path_helper` to allow passing schemas as path parameters?

Just wondering out loud. I don't see a practical use case.

[2019-06-20 10:41] karec commented on #453
Good question, I don't see a practical use case either, since we can still reference schema in our parameter object. Also, `Parameter Object` will require more than just a schema (name and in at least)

[2019-06-22 05:53] pd-Shah opened #462 "RecursionError: maximum recursion depth exceeded while calling a Python object"
Hey... I have a problem with `many to many self referencing` here ! Thx for answering.

## schema
[code]
## model `SQLALCHEMY`
[code]
## Error
[code]

[2019-06-23 15:18] #462 closed

[2019-06-24 00:17] runtothesun opened #463 "parameter name and in required for referenced parameter"
Hi, I have just updated to version 2.0.0 of apispec and I've seen a whole load of new error messages `'Missing keys ['name', 'in'] for parameter'` the check I think was added in PR #455. In my code I create a top level parameter using:

`apispec.components.parameter('ParameterSchemaName','path',{
 'name': 'parameterName',
 'schema': {
   'type': 'string',
 },
 'description': '...',
 'required': Tr

[2019-06-24 07:29] lafrech commented on #463
What if you pass only the ref name?

[code]

or

[code]

(I don't use YAML, I'm not sure about the quotes.)

[2019-06-24 07:33] lafrech commented on #463
This is probably something we overlooked. Sorry about that and thanks for reporting.

On second thought, I don't think my suggestion above will make it work. I'm pretty sure, however, that apispec expects only a ref name, not the whole ref component path, as it handles the path itself (including OASv2 / OASv3 differences) but that is another story.

[2019-06-24 07:52] lafrech commented on #441
Probably more like

[code]

or

[code]

actually.

[2019-06-24 07:56] lafrech commented on #463
My suggestion might solve your case, I can't tell as I'm not sure what YAML parser does, but there's definitely an issue.

`clean_parameters` can be called several times on the same operation (see `test_path_merges_paths`), so it should be idempotent (or we should change the logic to ensure it is called only once, if that is feasible).

On the first call, string references are changed into diction

[2019-06-24 14:18] lafrech commented on #463
We can prevent `clean_operations` from being called twice on the same `operations` instance by deepcopying `operations` in `path`. It would probably be a good idea to deepcopy `parameters` as well for the same reasons.

[code]

Looks like a reasonable thing to do since those are mutated by helpers and cleanup functions.

----------------------------------------------------

Not sure this would sol

[2019-06-24 14:53] lafrech commented on #463
The fact that complete references are not allowed anymore is an overlooked unintended side effect of #453, more specifically of e079401.

I don't think this should be fixed. Passing the ref name should be enough. We need to document that as a breaking change introduced in 2.0.0.

[2019-06-24 15:31] lafrech commented on #463
I submitted a PR to deepcopy operations and parameters.

Trivial change. 98% worktime spent writing the test...

[2019-06-24 16:01] lafrech commented on #463
@runtothesun, can you please try to pass component ID only and confirm it works?

Here's a PR with a doc fix: https://github.com/marshmallow-code/apispec/pull/465.

[2019-06-24 16:28] runtothesun commented on #463
Hi, thanks for the quick replies! Making the first change you suggested above has done the trick. My parameters in the docstring now look like this:
[code]
No other changes required for me at least.

Thanks again

[2019-06-24 16:28] #463 closed, assigned to nobody

[2019-06-24 16:40] karec commented on #463
Sorry for delay, just seen the issue.

Like you said, checking if parameter is actually a `ref` object could do the trick and actually allow users to enter whatever they want, but I agree with you that enforcing a single way to setup reference could also be a good idea.

My bad on double call, didn't check for it

[2019-06-24 17:10] karec commented on #463
@lafrech quick up on this, but what do you think of allowing full `$ref` objects (so interpreted as dict in yaml parser) inside parameters ? Even if we don't want to follow full path, this could be more compliant with specs and simpler for new users (since they just need to follow

This would require more checks on `clean_parameters` and maybe a little update of `get_ref` if we want to handle case

[2019-06-25 10:23] lafrech commented on #463
Thanks @karec for looking into this. No pb for the double call, I didn't see that coming either.

Passing the ref without the full path should be the recommended way as it lets apispec do the job of generating the path, and it makes the app more OAS version agnostic (this is not an objective that we absolutely want to reach, but I think it is nice). So I don't mind forbidding component paths in in

[2019-06-26 08:13] lafrech commented on #441
I'm pretty sure passing ref ID only solves this. At least with apispec 2.0.1.

Please come back to us if it doesn't.

[2019-06-26 08:13] #441 closed, assigned to nobody

[2019-06-26 15:33] Pentusha commented on #463
I use custom `apispec` plugin, that inherited from `MarshmallowPlugin`. It contains logic to describe parameters in declarative way and give me ability to refer them when I need, so in my case is more preferable to specify `$ref`.
I realized that I can not use this functionality with new releases 2.0.0+, because I can not redefine the `clean_operations` and `clean_parameters` functions even if I c

[2019-07-08 13:22] desecho opened #471 "Add support for mixed types"
Add support for custom Marshmallow fields which would allow mapping to swagger's Mixed types (https://swagger.io/docs/specification/data-models/data-types/#mixed-type)

[2019-07-08 13:25] lafrech commented on #471
Related to https://github.com/marshmallow-code/apispec/pull/391?

[2019-07-08 13:32] desecho commented on #471
Yes, searched just in issues not in pull requests.

[2019-07-11 22:05] dpgaspar opened #473 "InvalidParameterError exception"
Hi,

On apispec>2.0.0 I'm getting:
[code]

I may be mistaken but it seems that I do have `name` and `in` on all parameters
Once more I'm sorry for the long JSON spec:

[code]

[2019-07-12 18:41] mlschneid opened #474 "How to generate global enum?"
I'm interested in generating a global enum (ex Color) that I can reference in parameters.

Is this currently possible?

Example below:

[code]

[2019-07-12 19:09] lafrech commented on #474
You can do it manually using the `APISpec.components.schema` method (or `APISpec.components.parameter` if you want to register a parameter instead).

If you're using marshmallow and you have a field with a OneOf validator and you'd like to use this field to generate the schema rather than build the schema manually, then I'm afraid you can't do that because the `MarshmallowPlugin` only works on sch

[2019-07-13 11:07] dpgaspar commented on #458
Thank you all, this was solved on my side

[2019-07-13 11:07] #458 closed, assigned to nobody

[2019-07-15 12:37] dpgaspar commented on #473
Hi,

Any news on this, can you help?

[2019-07-15 12:43] lafrech commented on #473
Hi.

I thought I had answered already. Maybe I didn't submit my comment.

It's hard to help without a stack trace and a piece of code to reproduce.

How do you generate that spec? With the same code and apispec < 2?

[2019-07-15 17:03] mekanix opened #475 "partial=True on schema issues non-unique warning"
The following code gives:
[code]
If I remove `partial=True`, the warning goes away. In SwaggerUI, there are two schemas that corespond to `PetSchema` when partial is usedb.

[code]

[2019-07-15 18:33] lafrech commented on #475
Duplicate of https://github.com/marshmallow-code/apispec/issues/444.

The warning says what it says. You have two schemas that resolve to the same name. apispec generates two different names so this is fine, but you may want to provide different names explicitly, so apispec issues a warning to let you know.

You can register the partial schema manually with another name:

[code]

If you have the s

[2019-07-15 19:48] mlschneid commented on #474
Thanks for the response. This should work out for me.

[2019-07-15 19:48] #474 closed, assigned to nobody

[2019-07-15 23:51] mekanix commented on #444
I used https://github.com/Nobatek/flask-rest-api/issues/38#issuecomment-495527421 as a base for the custom schema resolver, but I don't know how to check if `partial` is passed or not. I assume the same goes for `exclude`.

[2019-07-16 08:44] dpgaspar commented on #473
Yes that spec is generated with the same code and apispec < 2

My question is: all my parameters contain "name" and "in" right? This is what the `InvalidParameterError` is checking, am I missing something?

[2019-07-16 09:04] lafrech commented on #475
My bad. I thought the resolver received the schema instance, but it only gets the schema class, so you can't.

This leaves you with only the verbose manual method.

@Bangertm, I can't figure out the reason we pass the class to the resolver and not the instance. I suppose most case of schemas resolving to the same name will be instances of the same schema with different modifiers. Or am I missing s

[2019-07-16 15:07] Bangertm commented on #475
There's not a good reason to pass the class anymore, I'm afraid.  When the schema name resolver functionality was initially implemented we were primarily using schema classes so that's what was passed in.  When I refactored I kept that interface, but then when started taking modifiers into account we switched to primarily working with schema instances but I didn't change the interface for the name